<a href="https://colab.research.google.com/github/DanRelief/DanRelief/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação do Pandas

In [10]:
!pip install pandas==1.5.3
!pip install numpy==1.23.5

Requirement already satisfied: pandas==1.5.3 in /usr/local/lib/python3.11/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2025.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.17.0)
Requirement already satisfied: numpy==1.23.5 in /usr/local/lib/python3.11/dist-packages (1.23.5)

In [13]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

SyntaxError: invalid syntax (<ipython-input-13-2048196582>, line 1)

# Séries

- docs: https://drive.google.com/drive/folders/1gK4-GabfHK-EgjEeytTcSAna7TfotW0y

In [ ]:
serie_dados = pd.Series([10, 20, 30, 40, 50]) #cria uma série de dados
print(serie_dados) #o pandas mostra o índice e o dado armazenado naquela posição

In [ ]:
#criando indices personalizados
array_inteiros= [10,20,30,70,80]
indices = ['A','B','C','D','E']
serie_dados= pd.Series(array_inteiros, index=indices) #serie_dados recebe o array e o index recebe o valor de indices
print(serie_dados)

In [ ]:
serie_dados.size #mostra o tamanho

In [ ]:
serie_dados.ndim #mostra as dimensões

In [ ]:
serie_dados.shape #mostra o formato (linha x coluna dos dados, no caso só há 5 linhas e 1 coluna)

In [ ]:
np_array_inteiros= ([1,2,3,4,5]) #criando um arranjo usando o numpy
print(np_array_inteiros)

In [ ]:
serie_dados = pd.Series(array_inteiros) #transformando um dado numpy no formato pandas
print(serie_dados)

In [ ]:
serie_dados.index = ['Z','X','Y','F','G'] #mudando os valores do index
print(serie_dados)
serie_dados[:]= [100,120,150,160,170] #atualizando os dados da série
print(serie_dados)

### Criação de séries

In [ ]:
import numpy as np
#bloco vai gerar valores aleatórios
valores = np.random.random(10)
indexes= np.arange(0,10)

print(valores)
print(indexes)

In [ ]:
import pandas as pd
#mostrando o código acima só que em pandas
serie_dados = pd.Series(valores, indexes)
print(serie_dados)

In [ ]:
dicionario= {'joão': 10, 'daniel': 20, 'eliza': 30}

dicionario

In [ ]:
#fazendo um serie com esse dicionario
dict_serie_dados = pd.Series(dicionario)
print(dict_serie_dados)

## Fatiamento (slicing)

In [ ]:
serie_dados[:]

In [ ]:
serie_dados[0:3]
#repare que ele volta apenas do 0 ao 2

In [ ]:
#mostra o último valor da lista
serie_dados[-1:]

In [ ]:
#adicionando elementos a uma variável
S1= serie_dados[0:3]
S1

##Cópia, conversão e concatenação

In [ ]:
#fazendo uma cópia de dados
import pandas as pd
serie_dados = pd.Series([10, 20, 30, 40, 50])

serie_dados2= serie_dados.copy()
serie_dados2

In [ ]:
#convertendo valores de inteiro para float
serie_dados2.astype(float)

In [ ]:
#fazendo a concatenação
#criando o primeiro dicionario
dados_novos= {'Daniel': 10,'Rodrigo': 20}
serie_dados3= pd.Series(dados_novos)
serie_dados3

#criando o segundo dicionario
dict_dados= {'Rodolfo': 30, 'João': 50}
serie_dados4= pd.Series(dict_dados)
serie_dados4

#juntando os dois
serie_dados5= pd.concat([serie_dados3, serie_dados4])
serie_dados5

### Acessando dados com ILOC
- Acessar elementos pelo índice

In [ ]:
import pandas as pd
import numpy as np
#importando arquivos. Basta clicar na pasta ao lado e no ícone de upload
dataset= pd.read_csv('census.csv')
dataset

In [ ]:
#filtrando conteúdo da tabela
serie_idade= dataset['age']
serie_idade

In [ ]:
#mostrando apenas os primeiros 10 elementos
serie_idade.head(10)

In [ ]:
#utilizando iloc para retornar elementos pelo índice
serie_idade.iloc[3]

In [ ]:
#retornando o último elemento
serie_idade.iloc[-1]

In [ ]:
#intervalo de índices
serie_idade.iloc[0:5]

In [ ]:
#índices específicos
serie_idade.iloc[[0,2,4]]

In [ ]:
lista_idade= []
for i in serie_idade.items():
  #print(i[0], i[1]) onde i[0] são índicies e i[1] são elementos

  #se o elemento (idade) for maior que 50
  if i[1] > 50:
    lista_idade.append(i[0])

print(lista_idade)

In [ ]:
!pip install Faker #instala dados falsos

In [ ]:
from faker import Faker
fake = Faker()
fake.name()

In [ ]:
indices_nome = []
for _ in range(32561) :
  indices_nome.append(fake.name())

In [ ]:
type(indices_nome), len(indices_nome) #gerando uma lista

In [ ]:
indices_nome[0:10] #mostrando 10 nomes

In [ ]:
serie_idade_nome= pd.Series(np.array(dataset['age']), index = indices_nome)
serie_idade_nome

In [ ]:
serie_idade_nome["Stephanie Garcia"] #volta a respectiva idade

In [ ]:
serie_idade_nome2= serie_idade_nome.drop_duplicates() #apaga os nomes que são iguais
serie_idade_nome2.size
serie_idade_nome2

In [ ]:
serie_idade_nome2["Stephanie Garcia":"Louis Williams"] #mostrando nomes em um intervalo

In [ ]:
serie_idade_nome2.loc[["Aaron Hernandez","Hannah Perez"]] #agora só mostra essas duas pessoas

In [ ]:
serie_idade_nome3= serie_idade_nome2.copy() #copiando valores para outra variável
serie_idade_nome3

In [ ]:
serie_idade_nome3.reset_index(drop= True, inplace = True) #reseta os indices
serie_idade_nome3

In [ ]:
serie_idade_nome2.index #retorna apenas os nomes das pessoas

### Ordenação

In [ ]:
serie_idade_nome.sort_values() #serie será ordenada pelos valores

In [ ]:
serie_idade_nome.sort_values(ascending= False) #serie será ordenada pelos valores em ordem decrescente

In [ ]:
serie_idade_nome.sort_index(ascending = True) #será ordenado em ordem alfabética

In [ ]:
sr= serie_idade_nome.sort_values(ascending = False).iloc[0:11] #gerando um novo dataframe filtrando as pessoas de maior idade
sr

### Contagem

In [ ]:
serie_idade_nome.size

In [ ]:
serie_idade_nome.value_counts() #conta quantas pessoas tem a mesma idade. idade disposta na esquerda e quantidade de pessoas com essa idade na direita

In [ ]:
serie_idade_nome.value_counts(normalize= True)*100 #mostra as idades em porcentagem

In [ ]:
serie_idade_nome.value_counts(bins = 10) #dividindo em faixa etária

#### Filtros

In [ ]:
fake.country()

In [ ]:
indices_pais = []
for _ in range(32561) :
  indices_pais.append(fake.country())

In [ ]:
indices_pais[0:11] #indice dos países

In [ ]:
serie_país = pd.Series(np.array(dataset['age']), index = indices_pais)
serie_país #listando países com idades

In [ ]:
serie_país.loc[serie_país>50] #filtra os que estão acima de 50

In [ ]:
serie_país.loc[(serie_país>50) & (serie_país.index=="India")] #filtra os maiores de 50 e da India

In [ ]:
serie_país.index.isin(["India", "Brazil"]) #true quando é india ou brasil, false quando não é

### Operações Matemáticas

In [ ]:
serie_pais +2 #adiciona 2 em cada valor

In [ ]:
serie_país.mul(2) #multiplica por 2

In [14]:
s1= pd.Series([20,30,40])
s2= pd.Series([10,20,30])
s1, s2

NameError: name 'pd' is not defined

In [ ]:
s1.add(s2) #soma os valores das séries

In [ ]:
s1.mul(s2) #multiplica os valores das séries

In [ ]:
s1.div(s2) #divide os valores das séries

#### Operações com strings

In [ ]:
serie_pais_index= serie_país.index.to_series() #passa os países como índice
serie_pais_index.reset_index(drop= True, inplace = True) #apagando os nomes dos países para que se tornem números
serie_pais_index

In [ ]:
serie_pais_index.str.contains("tse") #coloca como true quem tem essas letras no nome

In [ ]:
serie_pais_index.str.upper() #deixa todos os nomes em capslock

In [ ]:
series_pais_index.str.lower() #deixa em minúsculo

In [ ]:
serie_pais_index.str.strip("Libyan") #remove um nome desejado

In [ ]:
serie_pais_index.str.split(' ', expand=True) #separando as palavras em colunas diferentes

In [ ]:
serie_pais_index.str[0:5] #retorna os primeiros 5 caracteres de cada palavra