<a href="https://colab.research.google.com/github/DanRelief/DanRelief/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação do Pandas

In [2]:
!pip install pandas==1.5.3
!pip install numpy==1.23.5

Requirement already satisfied: pandas==1.5.3 in /usr/local/lib/python3.11/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2025.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.17.0)
Requirement already satisfied: numpy==1.23.5 in /usr/local/lib/python3.11/dist-packages (1.23.5)

In [3]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.5.3
1.23.5

# Séries

- docs: https://drive.google.com/drive/folders/1gK4-GabfHK-EgjEeytTcSAna7TfotW0y

In [4]:
serie_dados = pd.Series([10, 20, 30, 40, 50]) #cria uma série de dados
print(serie_dados) #o pandas mostra o índice e o dado armazenado naquela posição

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
#criando indices personalizados
array_inteiros= [10,20,30,70,80]
indices = ['A','B','C','D','E']
serie_dados= pd.Series(array_inteiros, index=indices) #serie_dados recebe o array e o index recebe o valor de indices
print(serie_dados)

A    10
B    20
C    30
D    70
E    80
dtype: int64

In [6]:
serie_dados.size #mostra o tamanho

5

In [7]:
serie_dados.ndim #mostra as dimensões

1

In [8]:
serie_dados.shape #mostra o formato (linha x coluna dos dados, no caso só há 5 linhas e 1 coluna)

(5,)

In [9]:
np_array_inteiros= ([1,2,3,4,5]) #criando um arranjo usando o numpy
print(np_array_inteiros)

[1, 2, 3, 4, 5]

In [10]:
serie_dados = pd.Series(array_inteiros) #transformando um dado numpy no formato pandas
print(serie_dados)

0    10
1    20
2    30
3    70
4    80
dtype: int64

In [11]:
serie_dados.index = ['Z','X','Y','F','G'] #mudando os valores do index
print(serie_dados)
serie_dados[:]= [100,120,150,160,170] #atualizando os dados da série
print(serie_dados)

Z    10
X    20
Y    30
F    70
G    80
dtype: int64
Z    100
X    120
Y    150
F    160
G    170
dtype: int64

### Criação de séries

In [12]:
import numpy as np
#bloco vai gerar valores aleatórios
valores = np.random.random(10)
indexes= np.arange(0,10)

print(valores)
print(indexes)

[0.57464228 0.58846828 0.18007395 0.81289237 0.25804121 0.81460883
 0.7205178  0.66374945 0.11379446 0.11432118]
[0 1 2 3 4 5 6 7 8 9]

In [13]:
import pandas as pd
#mostrando o código acima só que em pandas
serie_dados = pd.Series(valores, indexes)
print(serie_dados)

0    0.574642
1    0.588468
2    0.180074
3    0.812892
4    0.258041
5    0.814609
6    0.720518
7    0.663749
8    0.113794
9    0.114321
dtype: float64

In [14]:
dicionario= {'joão': 10, 'daniel': 20, 'eliza': 30}

dicionario

{'joão': 10, 'daniel': 20, 'eliza': 30}

In [15]:
#fazendo um serie com esse dicionario
dict_serie_dados = pd.Series(dicionario)
print(dict_serie_dados)

joão      10
daniel    20
eliza     30
dtype: int64

## Fatiamento (slicing)

In [16]:
serie_dados[:]

0    0.574642
1    0.588468
2    0.180074
3    0.812892
4    0.258041
5    0.814609
6    0.720518
7    0.663749
8    0.113794
9    0.114321
dtype: float64

In [17]:
serie_dados[0:3]
#repare que ele volta apenas do 0 ao 2

0    0.574642
1    0.588468
2    0.180074
dtype: float64

In [18]:
#mostra o último valor da lista
serie_dados[-1:]

9    0.114321
dtype: float64

In [19]:
#adicionando elementos a uma variável
S1= serie_dados[0:3]
S1

0    0.574642
1    0.588468
2    0.180074
dtype: float64

##Cópia, conversão e concatenação

In [20]:
#fazendo uma cópia de dados
import pandas as pd
serie_dados = pd.Series([10, 20, 30, 40, 50])

serie_dados2= serie_dados.copy()
serie_dados2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
#convertendo valores de inteiro para float
serie_dados2.astype(float)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [22]:
#fazendo a concatenação
#criando o primeiro dicionario
dados_novos= {'Daniel': 10,'Rodrigo': 20}
serie_dados3= pd.Series(dados_novos)
serie_dados3

#criando o segundo dicionario
dict_dados= {'Rodolfo': 30, 'João': 50}
serie_dados4= pd.Series(dict_dados)
serie_dados4

#juntando os dois
serie_dados5= pd.concat([serie_dados3, serie_dados4])
serie_dados5

Daniel     10
Rodrigo    20
Rodolfo    30
João       50
dtype: int64

### Acessando dados com ILOC
- Acessar elementos pelo índice

In [23]:
import pandas as pd
import numpy as np
#importando arquivos. Basta clicar na pasta ao lado e no ícone de upload
dataset= pd.read_csv('census.csv')
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
#filtrando conteúdo da tabela
serie_idade= dataset['age']
serie_idade

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [25]:
#mostrando apenas os primeiros 10 elementos
serie_idade.head(10)

0    39
1    50
2    38
3    53
4    28
5    37
6    49
7    52
8    31
9    42
Name: age, dtype: int64

In [26]:
#utilizando iloc para retornar elementos pelo índice
serie_idade.iloc[3]

53

In [27]:
#retornando o último elemento
serie_idade.iloc[-1]

52

In [28]:
#intervalo de índices
serie_idade.iloc[0:5]

0    39
1    50
2    38
3    53
4    28
Name: age, dtype: int64

In [29]:
#índices específicos
serie_idade.iloc[[0,2,4]]

0    39
2    38
4    28
Name: age, dtype: int64

In [30]:
lista_idade= []
for i in serie_idade.items():
  #print(i[0], i[1]) onde i[0] são índicies e i[1] são elementos

  #se o elemento (idade) for maior que 50
  if i[1] > 50:
    lista_idade.append(i[0])

print(lista_idade)

[3, 7, 21, 24, 25, 27, 41, 45, 46, 67, 74, 77, 81, 83, 85, 90, 100, 112, 115, 116, 118, 140, 144, 148, 154, 157, 160, 169, 172, 187, 189, 202, 208, 213, 214, 221, 222, 223, 224, 226, 227, 228, 229, 235, 245, 246, 252, 254, 263, 267, 270, 283, 285, 295, 303, 316, 319, 324, 325, 328, 329, 333, 334, 346, 348, 354, 356, 361, 366, 368, 380, 399, 416, 428, 430, 447, 452, 461, 466, 470, 474, 484, 486, 487, 499, 501, 502, 503, 511, 515, 527, 534, 536, 546, 552, 555, 561, 564, 571, 578, 580, 581, 582, 588, 589, 591, 592, 602, 606, 610, 618, 622, 634, 639, 641, 647, 648, 656, 679, 686, 690, 708, 729, 731, 738, 741, 746, 752, 756, 761, 763, 764, 774, 779, 786, 788, 794, 796, 802, 808, 817, 818, 825, 826, 831, 833, 834, 835, 839, 842, 843, 844, 850, 857, 872, 873, 874, 885, 888, 900, 901, 909, 912, 917, 918, 924, 927, 932, 945, 952, 954, 967, 972, 978, 983, 985, 989, 995, 1005, 1006, 1008, 1010, 1017, 1025, 1034, 1036, 1040, 1046, 1050, 1051, 1053, 1061, 1062, 1082, 1096, 1100, 1113, 1115, 1118, 1119, 1127, 1142, 1144, 1148, 1153, 1161, 1163, 1166, 1168, 1170, 1175, 1185, 1186, 1187, 1190, 1196, 1197, 1205, 1206, 1213, 1215, 1222, 1223, 1229, 1231, 1241, 1243, 1245, 1246, 1250, 1253, 1257, 1261, 1262, 1263, 1275, 1277, 1280, 1282, 1287, 1290, 1291, 1302, 1313, 1320, 1323, 1327, 1333, 1334, 1338, 1341, 1343, 1346, 1349, 1354, 1355, 1361, 1363, 1367, 1368, 1371, 1377, 1378, 1392, 1396, 1397, 1398, 1401, 1413, 1414, 1424, 1429, 1431, 1435, 1441, 1444, 1448, 1451, 1455, 1458, 1465, 1470, 1473, 1481, 1482, 1488, 1493, 1503, 1504, 1506, 1513, 1514, 1517, 1528, 1541, 1543, 1544, 1552, 1554, 1562, 1563, 1575, 1579, 1586, 1590, 1593, 1601, 1603, 1605, 1610, 1613, 1615, 1625, 1626, 1627, 1631, 1635, 1639, 1640, 1643, 1644, 1645, 1649, 1659, 1663, 1668, 1672, 1676, 1688, 1693, 1695, 1699, 1706, 1710, 1721, 1726, 1735, 1739, 1753, 1754, 1758, 1761, 1768, 1772, 1777, 1789, 1799, 1802, 1806, 1808, 1809, 1810, 1812, 1818, 1824, 1825, 1831, 1834, 1836, 1837, 1844, 1851, 1862, 1865, 1875, 1886, 1887, 1890, 1891, 1894, 1901, 1912, 1929, 1935, 1941, 1946, 1951, 1954, 1956, 1957, 1961, 1968, 1980, 1984, 1986, 1997, 1999, 2002, 2003, 2006, 2017, 2031, 2041, 2044, 2047, 2051, 2064, 2067, 2072, 2073, 2076, 2080, 2086, 2093, 2097, 2098, 2099, 2101, 2108, 2109, 2113, 2118, 2136, 2140, 2142, 2143, 2147, 2154, 2155, 2158, 2163, 2169, 2173, 2176, 2177, 2179, 2184, 2189, 2200, 2202, 2213, 2214, 2219, 2221, 2229, 2230, 2236, 2241, 2242, 2244, 2245, 2246, 2247, 2254, 2293, 2294, 2303, 2308, 2309, 2310, 2315, 2317, 2318, 2319, 2324, 2328, 2330, 2334, 2348, 2358, 2371, 2372, 2373, 2374, 2377, 2383, 2385, 2396, 2402, 2403, 2404, 2410, 2416, 2420, 2421, 2424, 2426, 2430, 2431, 2441, 2442, 2456, 2462, 2464, 2478, 2479, 2483, 2486, 2487, 2488, 2489, 2491, 2498, 2502, 2503, 2504, 2505, 2507, 2511, 2517, 2521, 2523, 2524, 2540, 2543, 2548, 2552, 2556, 2558, 2563, 2566, 2569, 2570, 2573, 2578, 2580, 2584, 2585, 2592, 2594, 2599, 2601, 2615, 2626, 2629, 2633, 2634, 2635, 2638, 2646, 2665, 2670, 2676, 2679, 2681, 2682, 2684, 2687, 2690, 2691, 2700, 2702, 2707, 2715, 2718, 2730, 2731, 2737, 2746, 2751, 2752, 2754, 2760, 2762, 2774, 2780, 2781, 2784, 2785, 2790, 2791, 2793, 2810, 2811, 2828, 2830, 2832, 2833, 2837, 2852, 2867, 2877, 2882, 2884, 2885, 2891, 2892, 2897, 2901, 2905, 2906, 2909, 2920, 2922, 2927, 2941, 2955, 2956, 2961, 2967, 2974, 2977, 2983, 2986, 2991, 2999, 3001, 3013, 3017, 3020, 3021, 3022, 3030, 3035, 3036, 3045, 3046, 3048, 3050, 3056, 3057, 3065, 3082, 3089, 3092, 3101, 3107, 3116, 3120, 3125, 3129, 3135, 3137, 3149, 3152, 3153, 3158, 3159, 3163, 3166, 3178, 3184, 3188, 3191, 3192, 3197, 3199, 3209, 3211, 3213, 3217, 3219, 3221, 3224, 3226, 3231, 3232, 3233, 3247, 3270, 3274, 3275, 3278, 3291, 3292, 3297, 3301, 3302, 3307, 3311, 3315, 3324, 3327, 3329, 3335, 3338, 3341, 3360, 3365, 3369, 3387, 3389, 3395, 3399, 3401, 3402, 3407, 3414, 3415, 3427, 3434, 3437, 3438, 3444, 3447, 3461, 3470, 3480, 3485, 3490, 3510, 3511, 3515, 3518, 3519, 3521, 3523, 3533, 3537, 3547, 3552, 3556, 3559, 3562, 3563, 3564, 3567, 3571, 3574, 3577, 3580, 3587, 3588, 3593, 3594, 3600, 3602, 3603, 3606, 3610, 3612, 3620, 3621, 3624, 3631, 3633, 3640, 3642, 3647, 3660, 3661, 3664, 3666, 3671, 3677, 3685, 3689, 3693, 3699, 3700, 3723, 3733, 3749, 3759, 3761, 3765, 3771, 3772, 3773, 3777, 3778, 3779, 3780, 3782, 3788, 3792, 3795, 3796, 3797, 3800, 3808, 3817, 3822, 3830, 3836, 3839, 3842, 3854, 3857, 3861, 3863, 3866, 3867, 3876, 3878, 3880, 3881, 3882, 3883, 3884, 3889, 3894, 3895, 3896, 3900, 3904, 3905, 3906, 3911, 3915, 3920, 3923, 3926, 3927, 3931, 3934, 3940, 3957, 3961, 3963, 3969, 3976, 3980, 3983, 3988, 3990, 3992, 3996, 4000, 4007, 4009, 4018, 4027, 4043, 4048, 4063, 4064, 4065, 4070, 4077, 4082, 4083, 4096, 4101, 4102, 4107, 4109, 4116, 4120, 4125, 4126, 4133, 4144, 4147, 4148, 4155, 4164, 4170, 4176, 4181, 4182, 4185, 4189, 4196, 4197, 4202, 4203, 4207, 4212, 4215, 4227, 4232, 4236, 4238, 4248, 4249, 4270, 4273, 4278, 4281, 4283, 4285, 4288, 4307, 4309, 4315, 4316, 4326, 4329, 4330, 4331, 4344, 4345, 4346, 4349, 4353, 4354, 4376, 4385, 4386, 4387, 4397, 4407, 4408, 4410, 4414, 4418, 4420, 4421, 4422, 4428, 4429, 4430, 4433, 4437, 4438, 4445, 4448, 4449, 4464, 4466, 4473, 4475, 4484, 4486, 4491, 4507, 4518, 4521, 4523, 4524, 4530, 4539, 4549, 4552, 4558, 4565, 4570, 4577, 4581, 4584, 4587, 4597, 4600, 4613, 4627, 4632, 4638, 4641, 4643, 4657, 4673, 4674, 4677, 4686, 4691, 4692, 4699, 4704, 4720, 4721, 4729, 4730, 4743, 4748, 4749, 4750, 4752, 4755, 4759, 4760, 4764, 4766, 4772, 4782, 4793, 4799, 4805, 4812, 4813, 4819, 4822, 4830, 4831, 4832, 4834, 4836, 4841, 4842, 4850, 4851, 4857, 4867, 4890, 4903, 4909, 4948, 4950, 4955, 4959, 4965, 4970, 4974, 4977, 4989, 4999, 5001, 5007, 5009, 5014, 5025, 5026, 5028, 5031, 5035, 5038, 5040, 5044, 5050, 5051, 5053, 5062, 5071, 5072, 5079, 5085, 5089, 5096, 5102, 5103, 5104, 5106, 5109, 5113, 5127, 5129, 5133, 5134, 5141, 5143, 5151, 5155, 5156, 5168, 5177, 5186, 5187, 5189, 5193, 5197, 5198, 5201, 5207, 5214, 5219, 5222, 5223, 5224, 5226, 5231, 5232, 5239, 5244, 5249, 5250, 5264, 5267, 5269, 5272, 5282, 5291, 5294, 5299, 5301, 5326, 5327, 5330, 5331, 5340, 5344, 5359, 5362, 5370, 5374, 5377, 5379, 5385, 5392, 5405, 5406, 5409, 5411, 5416, 5417, 5418, 5421, 5429, 5431, 5433, 5435, 5451, 5456, 5463, 5471, 5474, 5478, 5480, 5488, 5490, 5492, 5497, 5499, 5501, 5513, 5524, 5529, 5536, 5548, 5549, 5551, 5554, 5555, 5561, 5566, 5574, 5575, 5577, 5585, 5588, 5590, 5594, 5595, 5602, 5605, 5608, 5612, 5625, 5631, 5634, 5642, 5651, 5652, 5660, 5663, 5665, 5666, 5668, 5679, 5680, 5681, 5682, 5685, 5686, 5687, 5691, 5695, 5697, 5698, 5701, 5743, 5747, 5749, 5751, 5755, 5757, 5764, 5766, 5773, 5774, 5787, 5789, 5794, 5808, 5813, 5821, 5824, 5827, 5830, 5832, 5834, 5848, 5855, 5861, 5862, 5863, 5866, 5870, 5874, 5881, 5883, 5888, 5903, 5905, 5909, 5916, 5919, 5925, 5936, 5937, 5938, 5940, 5947, 5956, 5958, 5968, 5971, 5975, 5985, 5986, 6000, 6002, 6004, 6008, 6015, 6016, 6020, 6022, 6024, 6030, 6031, 6035, 6039, 6045, 6046, 6050, 6051, 6058, 6071, 6073, 6074, 6075, 6085, 6091, 6092, 6096, 6097, 6098, 6100, 6104, 6110, 6114, 6116, 6117, 6119, 6123, 6127, 6129, 6130, 6134, 6141, 6142, 6144, 6146, 6147, 6157, 6165, 6167, 6169, 6172, 6173, 6178, 6179, 6180, 6184, 6214, 6217, 6220, 6222, 6224, 6227, 6231, 6232, 6233, 6237, 6248, 6255, 6256, 6265, 6270, 6275, 6278, 6279, 6280, 6281, 6298, 6300, 6303, 6304, 6315, 6330, 6332, 6342, 6359, 6362, 6363, 6366, 6369, 6372, 6379, 6382, 6385, 6387, 6401, 6407, 6416, 6424, 6434, 6439, 6442, 6444, 6447, 6449, 6455, 6457, 6460, 6461, 6465, 6467, 6469, 6472, 6484, 6485, 6486, 6490, 6507, 6509, 6510, 6515, 6519, 6526, 6528, 6541, 6543, 6544, 6545, 6556, 6568, 6569, 6572, 6578, 6590, 6592, 6602, 6611, 6621, 6624, 6625, 6631, 6636, 6644, 6648, 6661, 6666, 6679, 6680, 6690, 6697, 6699, 6700, 6701, 6704, 6707, 6714, 6716, 6717, 6721, 6740, 6746, 6748, 6749, 6751, 6753, 6754, 6761, 6762, 6766, 6767, 6773, 6778, 6782, 6790, 6798, 6800, 6802, 6804, 6810, 6814, 6817, 6826, 6834, 6840, 6845, 6846, 6848, 6862, 6864, 6872, 6873, 6881, 6883, 6886, 6896, 6898, 6903, 6905, 6911, 6914, 6915, 6927, 6934, 6935, 6943, 6948, 6959, 6961, 6967, 6972, 6973, 6974, 6979, 6981, 6985, 6988, 6991, 6994, 7004, 7006, 7024, 7027, 7029, 7033, 7034, 7035, 7040, 7047, 7048, 7064, 7066, 7071, 7073, 7085, 7089, 7100, 7121, 7123, 7125, 7130, 7155, 7160, 7167, 7169, 7173, 7179, 7187, 7191, 7193, 7198, 7202, 7209, 7210, 7218, 7223, 7227, 7234, 7246, 7279, 7281, 7285, 7294, 7297, 7299, 7301, 7311, 7312, 7317, 7324, 7327, 7332, 7343, 7354, 7363, 7388, 7397, 7398, 7403, 7405, 7413, 7426, 7427, 7430, 7452, 7460, 7463, 7465, 7468, 7479, 7481, 7482, 7492, 7493, 7498, 7501, 7503, 7505, 7510, 7522, 7526, 7528, 7529, 7546, 7559, 7562, 7571, 7572, 7573, 7588, 7593, 7602, 7604, 7605, 7607, 7634, 7642, 7643, 7645, 7648, 7657, 7660, 7669, 7695, 7697, 7698, 7701, 7702, 7704, 7707, 7710, 7716, 7719, 7720, 7725, 7726, 7739, 7742, 7746, 7748, 7749, 7751, 7758, 7763, 7768, 7772, 7781, 7789, 7803, 7807, 7809, 7812, 7816, 7819, 7822, 7824, 7825, 7826, 7842, 7850, 7855, 7865, 7872, 7879, 7880, 7888, 7896, 7905, 7941, 7942, 7944, 7951, 7968, 7977, 7982, 7986, 8002, 8025, 8036, 8037, 8040, 8046, 8047, 8048, 8052, 8066, 8069, 8073, 8084, 8085, 8088, 8089, 8091, 8096, 8125, 8128, 8130, 8138, 8156, 8157, 8161, 8166, 8167, 8174, 8176, 8179, 8180, 8184, 8187, 8207, 8211, 8214, 8216, 8218, 8231, 8234, 8238, 8240, 8263, 8269, 8272, 8274, 8280, 8285, 8292, 8293, 8301, 8305, 8310, 8311, 8314, 8316, 8318, 8320, 8321, 8329, 8330, 8332, 8334, 8335, 8336, 8337, 8348, 8351, 8362, 8366, 8367, 8370, 8379, 8381, 8385, 8402, 8406, 8409, 8419, 8431, 8436, 8446, 8447, 8449, 8450, 8451, 8452, 8462, 8463, 8472, 8474, 8499, 8508, 8521, 8522, 8528, 8529, 8531, 8536, 8543, 8555, 8567, 8575, 8577, 8581, 8584, 8599, 8603, 8609, 8625, 8627, 8629, 8632, 8635, 8636, 8662, 8672, 8683, 8686, 8687, 8692, 8694, 8704, 8710, 8711, 8713, 8715, 8717, 8724, 8729, 8730, 8745, 8760, 8764, 8768, 8776, 8781, 8786, 8789, 8792, 8793, 8795, 8799, 8801, 8806, 8822, 8824, 8830, 8840, 8841, 8851, 8853, 8860, 8866, 8872, 8887, 8888, 8893, 8896, 8899, 8912, 8913, 8926, 8933, 8935, 8946, 8947, 8948, 8949, 8954, 8956, 8960, 8961, 8963, 8968, 8972, 8973, 8977, 8978, 8983, 8998, 9000, 9001, 9005, 9014, 9016, 9019, 9024, 9028, 9030, 9049, 9055, 9068, 9070, 9071, 9073, 9074, 9082, 9083, 9084, 9091, 9093, 9102, 9103, 9106, 9108, 9123, 9126, 9131, 9135, 9137, 9140, 9142, 9143, 9147, 9154, 9156, 9164, 9166, 9180, 9200, 9206, 9213, 9220, 9232, 9233, 9245, 9251, 9254, 9259, 9265, 9266, 9274, 9282, 9285, 9290, 9291, 9302, 9303, 9306, 9308, 9311, 9324, 9329, 9342, 9347, 9350, 9351, 9355, 9357, 9364, 9372, 9374, 9375, 9377, 9378, 9390, 9396, 9404, 9414, 9418, 9422, 9425, 9426, 9432, 9433, 9439, 9449, 9458, 9464, 9471, 9476, 9482, 9487, 9493, 9494, 9498, 9501, 9509, 9520, 9529, 9531, 9536, 9538, 9539, 9546, 9549, 9561, 9567, 9568, 9587, 9588, 9592, 9595, 9597, 9602, 9606, 9612, 9613, 9615, 9617, 9623, 9626, 9633, 9634, 9638, 9642, 9643, 9646, 9650, 9658, 9664, 9674, 9676, 9683, 9684, 9686, 9689, 9695, 9703, 9705, 9716, 9722, 9723, 9725, 9731, 9733, 9735, 9736, 9742, 9749, 9769, 9770, 9777, 9778, 9781, 9790, 9791, 9799, 9806, 9807, 9816, 9818, 9824, 9827, 9828, 9831, 9833, 9836, 9839, 9848, 9852, 9854, 9857, 9862, 9863, 9866, 9871, 9872, 9874, 9877, 9879, 9881, 9885, 9890, 9897, 9899, 9904, 9907, 9910, 9924, 9925, 9926, 9936, 9945, 9953, 9956, 9967, 9973, 9987, 9991, 9993, 10002, 10005, 10008, 10009, 10010, 10013, 10015, 10035, 10052, 10060, 10065, 10067, 10073, 10077, 10079, 10098, 10102, 10104, 10105, 10109, 10116, 10124, 10133, 10137, 10139, 10140, 10144, 10150, 10151, 10155, 10159, 10160, 10166, 10172, 10177, 10186, 10192, 10193, 10203, 10210, 10218, 10219, 10231, 10245, 10246, 10248, 10252, 10255, 10264, 10266, 10272, 10276, 10283, 10284, 10286, 10287, 10290, 10291, 10298, 10303, 10310, 10313, 10328, 10337, 10338, 10342, 10350, 10363, 10390, 10394, 10396, 10397, 10401, 10411, 10416, 10417, 10422, 10423, 10424, 10425, 10437, 10444, 10446, 10448, 10455, 10458, 10460, 10465, 10467, 10470, 10476, 10480, 10483, 10489, 10498, 10499, 10518, 10522, 10528, 10530, 10531, 10532, 10538, 10540, 10545, 10546, 10556, 10575, 10576, 10577, 10578, 10582, 10609, 10612, 10615, 10616, 10618, 10624, 10634, 10639, 10658, 10659, 10660, 10661, 10670, 10672, 10673, 10681, 10684, 10688, 10691, 10695, 10700, 10709, 10715, 10716, 10727, 10728, 10737, 10740, 10745, 10750, 10758, 10776, 10777, 10780, 10781, 10787, 10793, 10798, 10801, 10802, 10807, 10811, 10828, 10842, 10864, 10874, 10876, 10879, 10894, 10905, 10908, 10915, 10919, 10927, 10930, 10935, 10941, 10942, 10947, 10948, 10954, 10958, 10963, 10964, 10965, 10966, 10971, 10980, 10989, 10998, 11007, 11008, 11016, 11017, 11021, 11023, 11027, 11039, 11049, 11050, 11059, 11060, 11062, 11071, 11074, 11075, 11087, 11090, 11093, 11099, 11101, 11113, 11114, 11116, 11137, 11143, 11144, 11172, 11180, 11187, 11189, 11196, 11198, 11201, 11205, 11206, 11207, 11211, 11213, 11216, 11219, 11220, 11222, 11227, 11230, 11238, 11245, 11260, 11261, 11264, 11271, 11278, 11280, 11286, 11292, 11294, 11297, 11299, 11308, 11314, 11315, 11316, 11317, 11318, 11321, 11322, 11324, 11330, 11334, 11352, 11355, 11358, 11360, 11370, 11371, 11376, 11381, 11391, 11393, 11410, 11428, 11431, 11435, 11440, 11446, 11456, 11457, 11461, 11464, 11468, 11474, 11478, 11484, 11487, 11499, 11506, 11509, 11512, 11515, 11527, 11532, 11536, 11541, 11543, 11545, 11552, 11559, 11561, 11566, 11567, 11569, 11580, 11581, 11582, 11584, 11589, 11596, 11613, 11615, 11616, 11618, 11619, 11620, 11621, 11622, 11623, 11632, 11637, 11656, 11659, 11663, 11682, 11685, 11688, 11693, 11697, 11701, 11707, 11720, 11723, 11731, 11732, 11734, 11750, 11752, 11754, 11757, 11758, 11759, 11761, 11770, 11773, 11777, 11790, 11793, 11796, 11798, 11811, 11826, 11833, 11837, 11840, 11849, 11853, 11854, 11857, 11865, 11875, 11876, 11881, 11890, 11904, 11905, 11907, 11914, 11924, 11939, 11941, 11946, 11956, 11959, 11962, 11964, 11966, 11967, 11969, 11972, 11974, 11990, 11996, 12011, 12013, 12017, 12024, 12026, 12029, 12031, 12035, 12050, 12052, 12054, 12055, 12064, 12065, 12067, 12077, 12083, 12086, 12090, 12092, 12100, 12103, 12113, 12118, 12119, 12121, 12130, 12132, 12134, 12137, 12142, 12145, 12155, 12159, 12163, 12166, 12173, 12174, 12182, 12187, 12193, 12194, 12200, 12205, 12209, 12216, 12217, 12219, 12225, 12226, 12230, 12243, 12244, 12247, 12250, 12254, 12256, 12262, 12270, 12281, 12291, 12299, 12304, 12306, 12312, 12313, 12315, 12317, 12322, 12326, 12330, 12334, 12335, 12345, 12352, 12354, 12360, 12370, 12374, 12375, 12395, 12406, 12407, 12408, 12416, 12425, 12428, 12435, 12442, 12451, 12455, 12458, 12476, 12479, 12486, 12492, 12500, 12518, 12525, 12529, 12537, 12539, 12552, 12562, 12563, 12564, 12568, 12572, 12574, 12576, 12580, 12589, 12591, 12592, 12597, 12600, 12605, 12615, 12621, 12622, 12624, 12625, 12627, 12636, 12637, 12638, 12668, 12670, 12674, 12685, 12686, 12687, 12693, 12696, 12703, 12707, 12713, 12717, 12719, 12720, 12736, 12739, 12744, 12748, 12749, 12753, 12762, 12781, 12792, 12797, 12799, 12803, 12804, 12806, 12811, 12812, 12827, 12828, 12830, 12837, 12841, 12843, 12856, 12857, 12860, 12861, 12865, 12878, 12880, 12883, 12884, 12891, 12904, 12906, 12908, 12909, 12910, 12918, 12919, 12930, 12932, 12936, 12938, 12939, 12943, 12945, 12946, 12957, 12967, 12975, 12984, 12986, 12991, 12994, 12998, 13001, 13003, 13013, 13015, 13022, 13023, 13025, 13026, 13028, 13030, 13035, 13038, 13041, 13042, 13055, 13060, 13068, 13074, 13077, 13078, 13083, 13090, 13101, 13104, 13107, 13112, 13120, 13121, 13125, 13130, 13131, 13133, 13146, 13161, 13166, 13169, 13170, 13181, 13182, 13193, 13198, 13199, 13203, 13207, 13209, 13210, 13216, 13219, 13227, 13229, 13234, 13236, 13243, 13248, 13255, 13256, 13263, 13274, 13278, 13284, 13285, 13290, 13291, 13295, 13303, 13304, 13321, 13326, 13330, 13341, 13343, 13349, 13353, 13357, 13366, 13367, 13384, 13385, 13390, 13391, 13392, 13411, 13419, 13422, 13425, 13448, 13454, 13457, 13462, 13467, 13470, 13474, 13482, 13483, 13493, 13495, 13497, 13498, 13500, 13504, 13508, 13510, 13512, 13529, 13532, 13535, 13541, 13542, 13543, 13547, 13549, 13557, 13563, 13568, 13577, 13581, 13587, 13600, 13609, 13623, 13633, 13636, 13646, 13651, 13652, 13662, 13664, 13668, 13675, 13677, 13680, 13682, 13691, 13694, 13696, 13701, 13708, 13709, 13711, 13720, 13741, 13762, 13763, 13765, 13766, 13772, 13776, 13777, 13784, 13785, 13786, 13788, 13790, 13791, 13798, 13803, 13804, 13811, 13818, 13820, 13824, 13825, 13830, 13832, 13845, 13848, 13856, 13865, 13866, 13868, 13870, 13871, 13873, 13879, 13880, 13884, 13888, 13892, 13896, 13901, 13907, 13910, 13914, 13916, 13918, 13921, 13922, 13927, 13928, 13935, 13949, 13950, 13952, 13957, 13963, 13965, 13972, 13977, 13989, 14000, 14004, 14005, 14022, 14031, 14044, 14045, 14046, 14047, 14064, 14066, 14068, 14070, 14073, 14076, 14078, 14083, 14088, 14089, 14096, 14097, 14099, 14104, 14105, 14109, 14110, 14118, 14121, 14141, 14144, 14145, 14150, 14155, 14158, 14159, 14166, 14168, 14169, 14178, 14180, 14182, 14190, 14192, 14197, 14198, 14199, 14204, 14207, 14209, 14210, 14217, 14222, 14228, 14230, 14238, 14239, 14247, 14250, 14251, 14255, 14266, 14272, 14285, 14287, 14288, 14289, 14292, 14293, 14295, 14300, 14327, 14329, 14330, 14332, 14334, 14343, 14356, 14361, 14378, 14381, 14384, 14386, 14397, 14399, 14405, 14412, 14415, 14418, 14420, 14421, 14426, 14429, 14473, 14480, 14482, 14491, 14498, 14500, 14505, 14506, 14513, 14518, 14528, 14529, 14536, 14540, 14549, 14552, 14554, 14559, 14561, 14564, 14567, 14570, 14571, 14573, 14574, 14579, 14580, 14583, 14584, 14594, 14602, 14604, 14605, 14606, 14611, 14615, 14620, 14629, 14642, 14648, 14662, 14664, 14673, 14674, 14676, 14687, 14689, 14695, 14701, 14705, 14706, 14711, 14713, 14717, 14718, 14721, 14725, 14727, 14737, 14753, 14756, 14757, 14770, 14774, 14782, 14791, 14795, 14801, 14803, 14809, 14812, 14814, 14821, 14826, 14830, 14832, 14836, 14842, 14844, 14846, 14847, 14849, 14855, 14857, 14860, 14861, 14870, 14877, 14879, 14884, 14885, 14887, 14900, 14903, 14905, 14906, 14911, 14913, 14918, 14938, 14940, 14941, 14942, 14950, 14953, 14955, 14956, 14958, 14969, 14979, 14982, 14987, 14990, 15002, 15012, 15016, 15018, 15020, 15028, 15036, 15055, 15067, 15072, 15075, 15080, 15083, 15085, 15087, 15088, 15095, 15098, 15099, 15100, 15101, 15102, 15106, 15109, 15116, 15121, 15122, 15127, 15131, 15159, 15160, 15165, 15171, 15176, 15179, 15190, 15195, 15201, 15220, 15225, 15229, 15230, 15232, 15238, 15250, 15251, 15252, 15256, 15257, 15259, 15260, 15264, 15265, 15269, 15270, 15271, 15279, 15283, 15284, 15285, 15286, 15296, 15300, 15305, 15309, 15313, 15315, 15317, 15320, 15330, 15331, 15335, 15345, 15352, 15356, 15371, 15372, 15376, 15378, 15382, 15383, 15389, 15390, 15396, 15408, 15409, 15417, 15420, 15424, 15440, 15441, 15452, 15458, 15461, 15469, 15471, 15472, 15477, 15479, 15485, 15486, 15493, 15494, 15496, 15497, 15498, 15503, 15514, 15516, 15521, 15532, 15535, 15543, 15545, 15548, 15549, 15560, 15561, 15567, 15574, 15576, 15579, 15588, 15592, 15593, 15596, 15598, 15600, 15609, 15612, 15622, 15625, 15626, 15627, 15632, 15633, 15641, 15643, 15650, 15652, 15660, 15661, 15662, 15667, 15668, 15672, 15684, 15686, 15690, 15693, 15699, 15706, 15718, 15719, 15734, 15741, 15745, 15748, 15755, 15757, 15760, 15773, 15775, 15779, 15788, 15809, 15817, 15818, 15826, 15828, 15830, 15832, 15836, 15844, 15846, 15853, 15857, 15860, 15869, 15873, 15875, 15880, 15890, 15891, 15892, 15893, 15905, 15906, 15909, 15914, 15918, 15924, 15927, 15928, 15930, 15932, 15933, 15938, 15941, 15944, 15948, 15950, 15955, 15956, 15959, 15960, 15964, 15971, 15975, 15981, 15984, 15995, 15996, 15997, 16004, 16005, 16015, 16018, 16020, 16024, 16044, 16046, 16048, 16050, 16051, 16052, 16053, 16060, 16063, 16067, 16071, 16076, 16079, 16086, 16088, 16092, 16093, 16101, 16103, 16108, 16112, 16113, 16114, 16117, 16120, 16124, 16134, 16136

In [31]:
!pip install Faker #instala dados falsos

Collecting Faker
  Downloading faker-37.4.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from Faker) (2025.2)
Downloading faker-37.4.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 19.0 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-37.4.0

In [32]:
from faker import Faker
fake = Faker()
fake.name()

'Cassandra Newton'

In [33]:
indices_nome = []
for _ in range(32561) :
  indices_nome.append(fake.name())

In [34]:
type(indices_nome), len(indices_nome) #gerando uma lista

(list, 32561)

In [35]:
indices_nome[0:10] #mostrando 10 nomes

['Christy Alvarez',
 'Nicholas Harvey',
 'Shaun Chang',
 'Andrew Smith',
 'Brandi Kelly',
 'Kristina Larsen',
 'Dennis Murillo',
 'Teresa Davis',
 'Amber Sanders',
 'Glenda Farmer']

In [36]:
serie_idade_nome= pd.Series(np.array(dataset['age']), index = indices_nome)
serie_idade_nome

Christy Alvarez    39
Nicholas Harvey    50
Shaun Chang        38
Andrew Smith       53
Brandi Kelly       28
                   ..
Brenda Smith       27
Peter Knox         40
Billy Morris       58
Justin Berger      22
Aaron Perez        52
Length: 32561, dtype: int64

In [37]:
serie_idade_nome["Richard Taylor"] #volta a respectiva idade

Richard Taylor    23
Richard Taylor    46
dtype: int64

In [38]:
serie_idade_nome2= serie_idade_nome.drop_duplicates() #apaga os nomes que são iguais
serie_idade_nome2.size
serie_idade_nome2

Christy Alvarez    39
Nicholas Harvey    50
Shaun Chang        38
Andrew Smith       53
Brandi Kelly       28
                   ..
Sydney Kim         83
Abigail Hardin     84
Denise Garcia      85
Gabriel Ortega     86
James Powell       87
Length: 73, dtype: int64

In [39]:
serie_idade_nome2["Richard Taylor":"Denise Horne"] #mostrando nomes em um intervalo

KeyError: 'Richard Taylor'

In [ ]:
serie_idade_nome2.loc[["Lori Perry","Katie Fox"]] #agora só mostra essas duas pessoas

In [ ]:
serie_idade_nome3= serie_idade_nome2.copy() #copiando valores para outra variável
serie_idade_nome3

In [ ]:
serie_idade_nome3.reset_index(drop= True, inplace = True) #reseta os indices
serie_idade_nome3

In [ ]:
serie_idade_nome2.index #retorna apenas os nomes das pessoas

### Ordenação

In [ ]:
serie_idade_nome.sort_values() #serie será ordenada pelos valores

In [ ]:
serie_idade_nome.sort_values(ascending= False) #serie será ordenada pelos valores em ordem decrescente

In [ ]:
serie_idade_nome.sort_index(ascending = True) #será ordenado em ordem alfabética

In [ ]:
sr= serie_idade_nome.sort_values(ascending = False).iloc[0:11] #gerando um novo dataframe filtrando as pessoas de maior idade
sr

### Contagem

In [ ]:
serie_idade_nome.size

In [ ]:
serie_idade_nome.value_counts() #conta quantas pessoas tem a mesma idade. idade disposta na esquerda e quantidade de pessoas com essa idade na direita

In [ ]:
serie_idade_nome.value_counts(normalize= True)*100 #mostra as idades em porcentagem

In [ ]:
serie_idade_nome.value_counts(bins = 10) #dividindo em faixa etária

#### Filtros

In [ ]:
fake.country()

In [ ]:
indices_pais = []
for _ in range(32561) :
  indices_pais.append(fake.country())

In [ ]:
indices_pais[0:11] #indice dos países

In [ ]:
serie_país = pd.Series(np.array(dataset['age']), index = indices_pais)
serie_país #listando países com idades

In [ ]:
serie_país.loc[serie_país>50] #filtra os que estão acima de 50

In [ ]:
serie_país.loc[(serie_país>50) & (serie_país.index=="India")] #filtra os maiores de 50 e da India

In [ ]:
serie_país.index.isin(["India", "Brazil"]) #true quando é india ou brasil, false quando não é

### Operações Matemáticas

In [ ]:
serie_país +2 #adiciona 2 em cada valor

In [ ]:
serie_país.mul(2) #multiplica por 2

In [ ]:
s1= pd.Series([20,30,40])
s2= pd.Series([10,20,30])
s1, s2

In [ ]:
s1.add(s2) #soma os valores das séries

In [ ]:
s1.mul(s2) #multiplica os valores das séries

In [ ]:
s1.div(s2) #divide os valores das séries

#### Operações com strings

In [ ]:
serie_pais_index= serie_país.index.to_series() #passa os países como índice
serie_pais_index.reset_index(drop= True, inplace = True) #apagando os nomes dos países para que se tornem números
serie_pais_index

In [ ]:
serie_pais_index.str.contains("tse") #coloca como true quem tem essas letras no nome

In [ ]:
serie_pais_index.str.upper() #deixa todos os nomes em capslock

In [ ]:
serie_pais_index.str.lower() #deixa em minúsculo

In [ ]:
serie_pais_index.str.strip("Libyan") #remove um nome desejado

In [ ]:
serie_pais_index.str.split(' ', expand=True) #separando as palavras em colunas diferentes

In [ ]:
serie_pais_index.str[0:5] #retorna os primeiros 5 caracteres de cada palavra

In [ ]:
serie_país.sum() #realiza a somatória de todos os valores

In [ ]:
serie_país.mean() #realiza a media

In [ ]:
serie_país.median() #mediana

In [ ]:
serie_país.count() #qte de registros

In [ ]:
serie_país.std() #desvio padrão

In [ ]:
serie_país.var() #variancia

In [ ]:
serie_país.loc["Brazil"].mean() #extrai a média apenas do Brazil

In [ ]:
serie_país.quantile([0.25, 0.5, 0.75]) #mostra a quantidade dos valores que aparecem em 25%, 50% e 75% do total de dados

#### Agrupamento categórico

In [ ]:
serie_pais_index.value_counts() #retorna o valor por país

In [ ]:
serie_pais_index.value_counts(normalize = True)*100 #retorna o valor por país em porcentagem

In [ ]:
serie_pais_index.unique() #retorna o nome único dos países

In [ ]:
serie_pais_index.unique() #retorna o numero de países registrados

### Valores faltantes

In [ ]:
serie_faltante = pd.Series([1, 2, 3, np.nan, 5, np.nan]) #representa valor não existente

In [ ]:
serie_faltante.isna() #retorna se há valor faltante nas linhas (true representa faltante)

In [ ]:
serie_faltante.isna().sum() #soma a quantidade de valor faltante

In [ ]:
serie_faltante.value_counts(dropna = False) #conta os valores faltantes e mostra os resto dos numeros

In [ ]:
serie_faltante.fillna(0) #substitui os valores faltantes por 0

In [ ]:
serie_faltante.dropna() #linha de valores faltantes são apagadas

In [ ]:
serie_faltante.fillna(serie_faltante.mean()) #substitui os valores faltantes pela média

In [ ]:
serie_faltante = pd.Series("Mação", "Banana", "Arroz", "Arroz", np.nan, "Batata")
serie_faltante

In [ ]:
serie_faltante.isna().sum() #soma de valores faltantes

In [ ]:
serie_faltante.fillna("Não informado") #todos os valores faltantes são substituídos por "não informado"

In [ ]:
serie_faltante.mode().iloc[0] #retorna qual é a moda dos valores declarados, na posição 0

In [ ]:
serie_faltante.fillna(serie_faltante.mode().iloc[0]) #substitui os valores faltantes pela moda

### Funções

In [ ]:
serie_idade #retorna índices e idades

In [ ]:
serie_idade.loc[serie_idade<18] #retorna pessoas menores de 18 anos

In [ ]:
#transformando todas as idades menores de 18 em 18 anos, utilizando a função corrige_idade
def corrige_idade(idade):
  if idade < 18:
    idade = 18
    return idade

In [ ]:
serie_idade = serie_idade.apply(corrige_idade) #aplica a função em todos os elementos da série, não necessitando passar manualmente
serie_idade

In [ ]:
#outra maneira de utilizar uma função
serie_idade= serie_idade.apply(lambda idade: 17 if idade==18 else idade) #declarando uma função e já executando ela para todos os elementos. Nesse caso, transformando todos os elementos iguais a 18 em 17 anos

In [ ]:
serie_idade[serie_idade<18] #retorna apenas os menores de 18

In [ ]:
serie_idade2 = serie_idade.iloc[0:10] #recebe os primeiros 10 elementos
serie_idade2

In [ ]:
serie_idade2.where(serie_idade2 < 40, 0) #para todos os valores menores que 40, recebe 0

# Dataframe

um dataframe é um conjunto de várias séries.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = [['Alice', 25, 'São Paulo'],
        ['João', 30, 'Rio de Janeiro'],
        ['Bruno', 35, 'Curitiba'],
        ['Carlos', 40, 'Manaus']]

In [ ]:
type(data) #tipo de dados

In [ ]:
colunas = ['Nome', 'idade', 'Cidade'] #separando por categorias

In [ ]:
df = pd.DataFrame(data, columns=colunas) #criando um dataframe utilizando listas
df

In [ ]:
#criando um dataframe a partir de um dicionário
data = {'Nome': ['Alice', 'João', 'Bruno', 'Carlos'],
         'Idade': [25, 30, 35, 40],
         'Cidade': ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus']}
data

In [ ]:
type(data)

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
#data frame criado a partir de um array
data = np.array ([['Alice', 25, 'São Paulo'],
        ['João', 30, 'Rio de Janeiro'],
        ['Bruno', 35, 'Curitiba'],
        ['Carlos', 40, 'Manaus']])
type(data)

In [ ]:
df = pd.DataFrame(data, columns=colunas)
df

In [ ]:
#dataframe com tuplas
data = [('Alice', 25, 'São Paulo'),
        ('João', 30, 'Rio de Janeiro'),
        ('Bruno', 35, 'Curitiba'),
        ('Carlos', 40, 'Manaus')]
type(data), type(data[0])

In [ ]:
df = pd.DataFrame(data, columns=colunas)
df

In [ ]:
#utilizando a estrutura de dicionários organizado em séries e transformando em dataframe
data= {'Nome': pd.Series (['Alice', 'João', 'Bruno', 'Carlos']),
         'Idade': pd.Series ([25, 30, 35, 40]),
         'Cidade': pd.Series (['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus'])}
data

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
#utilizando dicionário organizando em array
data = {'Nome': np.array(['Alice', 'João', 'Bruno', 'Carlos']),
        'Idade': np.array([25, 30, 35, 40]),
        'Cidade': np.array(['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus'])}
data

In [ ]:
df = pd.DataFrame(data)
df

### Explorando dataframes

In [ ]:
dataset= pd.read_csv('census.csv')
dataset

In [ ]:
dataset.head() #analisar apenas os 5 primeiros registros

In [ ]:
dataset.tail() #analisar as últimas 5 linhas do registro

In [ ]:
dataset.shape #quantidade total de linhas e colunas

In [ ]:
dataset.size #multiplicação linha x coluna (32561 * 15)

In [ ]:
dataset.index #índices

In [ ]:
dataset.columns #colunas

In [ ]:
dataset.axes #análise eixos

In [ ]:
dataset.dtypes #volta o datatype de cada linha do registro

In [ ]:
dataset.info() #fornece a classe, os índices, o nome, o tipo, a quantiade de registros não nulos, etc.

In [ ]:
dataset.describe() #estatísticas sobre cada um dos atribustos numéricos

### Acesso com loc e iloc

In [ ]:
dataset["age"] #acessando uma parte específica do gráfico

In [ ]:
type(dataset["age"]) #demonstrando que dataframes são conjuntos de séries

In [ ]:
dataset.age.mean() #calculando a média da coluna age

In [ ]:
dataset.age.iloc[0:4] #retornar apenas as primeiras idades

In [ ]:
dataset[["age", "education"]] #acessando somente age e education

In [ ]:
dataset.iloc[0:4 ,0:4] #linhas(do 0 ao 4), colunas(do 0 ao 4)

In [ ]:
dataset.iloc[0:4, :] #acessando apenas as linhas do 0 ao 4.

In [ ]:
dataset.iloc[0:4,[0, 3, 5]] #acessando as primeiras 4 linhas, acessando essa colunas específicas

In [ ]:
dataset.iloc[:, 0:4] #acessando apenas as 4 primeiras colunas

In [ ]:
dataset.loc[:, "age"] #acessando todas as linhas, mostrando apenas a coluna age

In [ ]:
dataset.loc[:, ["age", "workclass", "education"]] #acessando todas as linhas, mostrando apenas as colunas explicitadas

In [ ]:
dataset.loc[0:5, "age":"occupation"] #acessando as primeiras 5 linhas, e as colunas do intervalo do age ao occupation

### Apagar linhas e colunas

In [ ]:
dataset.drop("education", axis = 1) #referenciando qual linha eu quero apagar
#quando axis = 0 (linhas), quando axis = 1 (colunas)

In [ ]:
dataset.drop("final-weight", axis =1, inplace= True) #apagando a coluna de forma definitiva da base de dados

In [ ]:
dataset.columns #repare que final-weight foi apagado, enquanto education só foi oculto visualmente

In [ ]:
dataset.drop([0], axis = 0) #apagando a primeira linha (deixando oculto)

In [ ]:
dataset.drop([0], axis= 0, inplace= True) #apagando a primeira linha de forma definitiva

In [ ]:
dataset.reset_index(drop= True, inplace = True) #resetando os índices (atualizando após ter apagado a linha)

### Linhas duplicadas na base de dados

In [ ]:
dataset.duplicated() #retorna se há linhas duplicadas

In [ ]:
dataset.duplicated().sum() #retorna a quantidade de linhas duplicadas

In [ ]:
dataset.iloc[[32557, 32558]]

In [ ]:
dataset.drop_duplicates() #apaga as linhas duplicadas (oculta)

In [ ]:
dataset.duplicated(subset= "age").sum() #somatórios dos valores de colunas duplicadas

In [ ]:
dataset.drop_duplicates(subset= "age", keep = "last", ignore_index = True) #apaga as colunas (idades duplicadas), mantendo o útlimo registro duplicado e reorganizando os índices

### Valores faltantes

In [ ]:
dataset.isna().sum() #os valores nulos está representados por '?'

In [ ]:
dataset.loc[dataset["workclass"].str.contains("\?")] #mostra

In [ ]:
colunas_categoricas = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']

for coluna in colunas_categoricas:
  #print(coluna)
  tem_interrogacao= dataset[coluna].str.contains("\?").any() #percorrendo todas as colunas
  if tem_interrogacao:
    print(f"na coluna ' {coluna} 'tem interrogacao '?' ")

In [ ]:
for coluna in colunas_categoricas:
  dataset[coluna] = dataset[coluna].replace(' ?', np.nan) #substituir toda interrogação por nan

In [ ]:
dataset.isna().sum() #retorna a quantidade de valores faltantes

In [ ]:
dataset.fillna("Não informado").iloc[0:30] #colocar 'não informado' no lugar de 0

In [ ]:
dataset["workclass"].mode() #retorna o valor mais frequente

In [ ]:
dataset["occupation"].mode() #retorna o valor mais frequente

In [ ]:
dataset["native-country"].mode() #retorna o valor mais frequente

In [ ]:
dataset["workclass"].fillna(dataset["workclass"].mode().iloc[0], inplace= True) #substutuindo valores

In [ ]:
dataset["occupation"].fillna(dataset["occupation"].mode().iloc[0], inplace= True)

In [ ]:
dataset["native-country"].fillna(dataset["native-country"].mode().iloc[0], inplace= True)

In [ ]:
dataset.isna().sum()

### Contagem de valores

In [ ]:
dataset.age.value_counts()

In [ ]:
dataset.workclass.value_counts(normalize= True, sort= False)*100

In [ ]:
for coluna in dataset.columns:
  #print(coluna, dataset[coluna].dtype)
  if dataset[coluna].dtype == object:
    print('--------', coluna, '--------')
    print(dataset[coluna].value_counts(normalize= True))
    print()

### Ordenação do dataframe

In [ ]:
dataset.sort_index(ascending= True) #ordenando pelo índice

In [ ]:
dataset.sort_values(["age", "workclass"], ascending= [False, True], inplace= True) #ordenando por colunas, com ascending declarando se vai ser crescente ou descrescente e o inplace definindo a alteração

In [ ]:
dataset.reset_index(drop= True, inplace= True) #resetando índice

### filtragem do dataset.loc

In [ ]:
dataset.loc[dataset.education == 'Bachelors', ["age", "workclass", "education-num"]] #colocando o filtro por linha

In [ ]:
dataset.loc[(dataset["education-num"]==6) & (dataset["marital-status"]== " never merried")] #filtrando education.num para 6. E o estado civil

In [ ]:
dataset.query(" `education-num` ==6 and `marital-status` == ' never-merried' ") #dois filtros

In [ ]:
dataset.query("age > 35 and workclass == ' Private' ") #dois filtros

In [ ]:
dataset.query("age > 35 and workclass == ' Private' ").loc[:, "capital-gain"].sum() #retornando as linhas com o filtro nas colunas e somando todo o ganho de pessoas acima de 35 anos com workclass = private

### Renomear e reordenar

In [ ]:
dataset.columns = [coluna.upper() for coluna in dataset.columns] #transformando as colunas em letras maiusculas
dataset.columns

In [ ]:
dataset.columns = [coluna.lower() for coluna in dataset.columns] #transformando as colunas em letras minúsculas
dataset.columns

In [ ]:
dataset.rename(columns= {"idade": "age", "trabalho": "workclass"}, inplace = True) #mudando o nome das colunas

In [ ]:
dataset.head()

In [ ]:
dataset= dataset.reindex(labels= ['workclass', 'age', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'], axis = 1) #trocando a ordem das colunas age pelo workclass, colocando axis = 1 para mudar apenas as colunas e não as linhas

dataset

### Criação de colunas

In [ ]:
dataset["hour-per-month"]= dataset["hour-per-week"] * 4 #criando uma colunas que conta as horas trabalhadas por mês
dataset.head()

In [ ]:
dataset["high-education-level"]= dataset["education-num"] > 11 #valida a educação. Se maior que 11, é verdadeiro, se menor é falso
dataset.head()

In [ ]:
dicionario_map= {"<=50k": "low", ">50k": "high"} #dicionario que define caso a pessoa ganhe pouco (menos que 50k) e caso ela ganhe muito (mais que 50k)

In [ ]:
dataset["category-income"]= dataset["income"].map(dicionario_map)
dataset

In [ ]:
dataset["capital-gain-usd"]= dataset["capital-gain"].map(lambda x: f"USD {x}") #aplicando uma formatação. Agora aparece USD ao lados dos valores
dataset.head()

In [ ]:
from datetime import datetime #importando data e hora

In [ ]:
datetime.now().year

In [ ]:
dataset= dataset.assign(birth= datetime.now().year - dataset["age"], hardwork= dataset["hour-per-week"] > 40) #descobrindo a idade que a pessoa nasceu com base no ano atual e classificando quem trabalha mais
dataset

In [ ]:
dataset.loc[dataset["hardwork"] == True] #filtro de pessoas que trabalham mais de 40 horas por semana

### Colunas categóricas

In [ ]:
dataset.info() #obtendo colunas categóricas

In [ ]:
dataset["native-country"].unique() #retorna os países únicos nessa base de dados

In [ ]:
dataset= dataset.astype({"native-country": "category"}) #alterando o tipo de variáveis, transformando os nomes em números para reduzir a memória.
dataset

### Agregação

In [ ]:
dataset.loc[:, "hour-per-week"].sum()

In [ ]:
dataset.loc[:, ["hour-per-week", "age"]].sum() #soma de horas trabalhadas e anos

In [ ]:
dataset.loc[:, "hour-per-week"].mean().round(2) #media de horas trabalhadas voltando só 2 unidades decimais

In [ ]:
dataset.loc[:, ["hour-per-week", "age"]].std().round(2) #desvio padrão

In [ ]:
dataset.loc[:, ["hour-per-week", "age"]].min().round(2) #valores mínimos, a pessoa que menos trabalha e mais nova

In [ ]:
dataset.loc[:, ["hour-per-week", "age"]].max().round(2) #valores máximos, a pessoa que mais trabalha e mais velha

In [ ]:
dataset.mean(numeric_only= True) #extração da média de todas as colunas numéricas

### Agrupamento

In [ ]:
dataset["workclass"].unique() #mostrando qte de valores únicos no atributo workclass

In [ ]:
dataset.groupby("workclass")["hour-per-week"].mean().sort_values() #primeiro declaro o atributo categórico que quero agrupar, depois o atributo numérico que vai ser realizado os cálculos e no final a função agregada e no final ordenando em ordem crescente (quem trabalha menos para quem trabalha mais)

In [ ]:
group= dataset.groupby("workclass")["hour-per-week"].mean().sort_values()
type(group) #atrelando isso a uma variável (note que é uma série do Pandas)

In [ ]:
dataset.groupby("income")["education-num"].mean() #fazendo a média de quantos anos as pessoas estudam em relação a sua renda
#pessoas que ganham mais de 50k, estudam por mais tempo em relação as que ganham menos

In [ ]:
group= dataset.groupby(["income","workclass"])["hour-per-week"].mean().sort_values().sort_index() #ordenando em forma de lista, com a coluna income, workclass e o atributo numérico hours-per-week, ordenando de forma crescente e por índice
group
# pessoas que trabalham 3 horas a mais ganham mais de 50k, em relação as que trabalham menos e ganham menos

In [ ]:
group.index

In [ ]:
group.loc[" <=50K"]

In [ ]:
group.loc[(" <=50k", " Federal-gov"):(" <=50k", " Private")] #definindo intervalo de índices

In [ ]:
group.loc[" <=50k"][" Federal-gov":"Never-worked"] #intervalo

In [ ]:
group= dataset.groupby(["income", "workclass"], as_index= False) ["hour-per-week"].mean().sort_index() #agrupamento dos atributos income e workclass e não gerando um índice múltiplo
group
#isso gerou um dataframe, não mais uma série

In [ ]:
group.query("workclass== ' Federal-gov'") #separando e visualizando melhor os dados

### Agrupamento com agregação

In [ ]:
dataset.groupby(["income", "workclass"]).agg("mean", numeric_only= True) #agrupando e utilizando a função agg(agregar) passando as operações por strings. Passando o parametro numeric_only para que se analise apenas valores numéricos

In [ ]:
dataset.groupby(["income", "workclass"]).agg({"age": ["mean", "std"],
                                              "hour-per-week": ["min", "max"]}) #definindo funções agregadas de acordo com a necessidade

In [ ]:
dataset.groupby(["income", "workclass"]).agg(age_mean= ("age", "mean"),
                                             age_std= ("age", "std"),
                                             hour_min= ("hour-per-week","min"),
                                             hour_max= ("hour-per-week", "max")) #definindo funções agregadas de acordo com a necessidade. Mostrando de uma outra forma, mais organizada

### Agregação com transform

In [ ]:
group = dataset.groupby(["workclass"], as_index= False)["hour-per-week"].mean().sort_index()
group #realizando um agrupamento

In [ ]:
group.assign(avg_age= dataset.groupby(["workclass"])["age"].transform("mean"),
            avg_education= dataset.groupby(["workclass"])["education-num"].transform("mean")) #adicionando duas colunas a mais no agrupamento com a média de idade em relação a suas profissões e a média dos anos estudados

### Tabelas pivot
visualização de dados quando agrupados

In [ ]:
dataset.pivot_table(index= "income",
                    columns= "workclass",
                    values= "age",
                    aggfunc="mean") #agrupamento entre renda e tipo de trabalho, valores númerico que vai ser analisado e qual função vai fazer a agregação (no caso a média)

In [ ]:
dataset.pivot_table(index= "marital-status",
                    columns = "income",
                    values= "education-num",
                    aggfunc= "mean",
                    margins= True)

In [ ]:
dataset.pivot_table(index= "marital-status",
                    columns = "income",
                    values= "education-num",
                    aggfunc= ("mean", "max")).style.background_gradient(cmap= "Blues") #organizando esses dados em tuplas, e um estilo de tabela

### Concatenação

In [ ]:
data= {'idvenda': [123, 374, 654, 345],
       'data': ['2024-01-19', '2024-01-20', '2024-01-21', '2024-01-21'],
       'idvendedor': [1, np.nan, 2, 3],
       'valor_total': [45.76, 102.34, 56.34, 34.21]} #dicionário com informações
df1 = pd.DataFrame.from_dict(data) #variável que recebe o dicionário
df1

In [ ]:
data= {'idvenda': [123, 374, 654, 345],
       'data': ['2024-01-19', '2024-01-20', '2024-01-21', '2024-01-21'],
       'idvendedor': [1, np.nan, 2, 3],
       'valor_total': [45.76, 102.34, 56.34, 34.21]} #dicionário com informações
df2 = pd.DataFrame.from_dict(data) #variável que recebe o dicionário
df2

In [ ]:
data_complete= pd.concat([df1, df2], ignore_index= True) #concatenando os dois dataframes
data_complete #se eu quiser realizar um filtro com o nome dos vendedores, eu não vou conseguir, pois aqui eu só tenho o id deles

### Junção

In [46]:
data= {'idvendedor': [1,2,3,4],
       'nome': ['Julia', 'Paulo', 'Jessica', 'Marcos']}
df_vendedor= pd.DataFrame.from_dict(data)
df_vendedor #gerando um dicionário com os nomes dos vendedores

   idvendedor     nome
0           1    Julia
1           2    Paulo
2           3  Jessica
3           4   Marcos

In [45]:
data_complete.merge(df_vendedor,
                   how= "inner", #comando inner vai buscar info da coluna esquerda e da direita. é obrigatório que haja uma correspondência entre eles
                   left_on= ["idvendedor"],
                   right_on= ["idvendedor"] ) #foi adicionado a coluna com o nome dos vendedores a tabela, nem necessitando mais a coluna do id do vendedor

NameError: name 'data_complete' is not defined

In [44]:
data_complete= data_complete.merge(df_vendedor,
                   how= "left", #agora será feito com base na tabela da esquerda, independente se haja correspondência na tabela da direita.
                   left_on= ["idvendedor"],
                   right_on= ["idvendedor"] )
data_complete

NameError: name 'data_complete' is not defined

In [42]:
data_complete.query("nome== 'Jessica' ") #filtrando nomes

NameError: name 'data_complete' is not defined

### Conversão e formatação de data

In [41]:
df_vendas= data_complete.copy()

NameError: name 'data_complete' is not defined

In [ ]:
df_vendas.info() #mostra infos de valores nulos, tipos de dados, etc.

In [ ]:
df_vendas

In [ ]:
#df_vendas= df_vendas.astype({"data": "datetime64"}) #mudando o formato de dados (string para data) pode ser que retorne erro caso string não esteja em formato de data

In [ ]:
df_vendas= df_vendas.assign(data= pd.to_datetime(df_vendas["data"], #mudando o formato de dados (string para data)
                                                 infer_datetime_format=True, #tornando true o formato data
                                                 errors= "coerce")) #caso encontre erro, retorna a palavra 'NaT' (não é uma data)

In [40]:
df_vendas

NameError: name 'df_vendas' is not defined

In [ ]:
df_vendas.info() #uso de memória é reduzido dependendo do tipo da variável utilizada

In [ ]:
df_vendas.loc[0, ["data"]] = "N/A"
df_vendas #repare que agora irá gerar uma coluna com data inválida

### Formatação de data

- https://www.programiz.com/python-programming/datetime/strftime

In [48]:
df_vendas.assign(data2 = df_vendas["data"].dt.strftime("%Y-%b-%a"), #%Y indica o ano em formato numérico. %b nome do mês abreviado. %a nome abreviado do dia da semana.
                 data3 = df_vendas["data"].dt.strftime("%d-%m-%Y"))

NameError: name 'df_vendas' is not defined

In [ ]:
df_vendas["data"].fillna("2024-01-19", inplace= True) #preenchendo valor nulo
df_vendas

In [ ]:
df_vendas["data"].dt.month #dt.year para extração de ano, dt.month para mês, dt.day para dia, dt.hour, dt.minute, dt.second

### índices com data

In [ ]:
df_vendas2 = df_vendas.copy()
df_vendas2

In [ ]:
df_vendas.dtypes #a coluna data está em formato datetime

In [ ]:
df_vendas2.set_index("data", inplace= True) #definindo data como índice, modificando a variável
df_vendas2 #a vantagem de estar como índice é que podemos aplicar filtros adicionais

In [ ]:
#ex:
df_vendas2.loc["2024-01-19"] #vendas apenas desse período

In [ ]:
df_vendas2.loc["2024-01":"2024-02"]

In [49]:
df_vendas2

NameError: name 'df_vendas2' is not defined

In [ ]:
df_vendas2.resample('M')["valor total"].sum(numeric_only= True) #somando todas as colunas numéricas por mês

In [ ]:
df_venda2.resample('D')["valor_total"].mean(numeric_only= True) #tirando a média de todas as colunas numéricas por dia

### Importação e exportação de dados

In [51]:
dataset = pd.read_csv('census.csv').head(5) #carregando apenas as 5 primeiras linhas
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
dataset = pd.read_csv('census.csv', header= None).head(5) #não mostra o título das colunas
dataset

In [ ]:
#colocando nome nas colunas manualmente no arquivo
colunas = ['idade', 'trabalho', 'final-weight', 'escolaridade', 'escolaridade-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loos',	'hour-per-week', 'native-country', 'income']
dataset = pd.read_csv('census.csv', header= None, names= colunas).head(5)
dataset

In [ ]:
dataset= pd.read_csv('census.csv', usecols= ["age", "workclass"]).head(5) #filtrando apenas as colunas desejadas
dataset

In [ ]:
dataset= pd.read_csv('census.csv', na_values= [" ?"]) #substituindo caracteres faltantes, colocando o simbolo em formato de lista

In [ ]:
dataset.isna().sum() #somando todos os valores faltantes

In [ ]:
dataset.dtypes #mostrando os tipos das variáveis

In [52]:
dataset= pd.read_csv('census.csv', dtype= ({"final-weight": "float"})) #transformando a variável 'final-weight' em float
dataset.dtypes

age                 int64
workclass          object
final-weight      float64
education          object
education-num       int64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain        int64
capital-loos        int64
hour-per-week       int64
native-country     object
income             object
dtype: object

In [ ]:
dataset = pd.read_csv('AirPassengers.csv', parse_dates= ["Month"] #transformando as datas em formatos de mês
                      infer_datetime_format =True, index_col= "Month") #transformado o tipo em data, e mudando o índice como sendo o próprio mês
dataset #carregando essa base de dados

In [ ]:
moeda = lambda x: f"{x} USD"
dataset = pd.read_csv('census.csv', converters = {"capital-gain": moeda}) #aplicando uma função em uma coluna durante a leitura do arquivo
dataset

In [54]:
dataset = pd.read_csv('seeds_dataset.txt', sep= "\t", #colocando um separador de coluans, \t
                      header = None, names = ["a","b","c","d","e","f","g","h"]) #retirando o cabeçalho e colocando nomes nas colunas
dataset #por ser um txt, não há cabeçalho nem formatação

        a      b       c      d      e      f      g  h
0   15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1   14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2   14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3   13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4   16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
5   14.38  14.21  0.8951  5.386  3.312  2.462  4.956  1
6   16.63  15.46  0.8747  6.053  3.465  2.040  5.877  1
7   16.44  15.25  0.8880  5.884  3.505  1.969  5.533  1
8   15.26  14.85  0.8696  5.714  3.242  4.543  5.314  1
9   14.03  14.16  0.8796  5.438  3.201  1.717  5.001  1
10  13.89  14.02  0.8880  5.439  3.199  3.986  4.738  1
11  13.78  14.06  0.8759  5.479  3.156  3.136  4.872  1
12  13.74  14.05  0.8744  5.482  3.114  2.932  4.825  1

In [57]:
dataset= pd.read_excel('seeds.xlsx', sheet_name= "Planilha2") #lendo a guia específica do excel
dataset

    15.26  14.84   0.871  5763  3312     2221  5.22  1
0   13.74  14.05  0.8744  5482  3114  2932.00  4825  1
1   13.78  14.06  0.8759  5479  3156  3136.00  4872  1
2   13.89  14.02  0.8880  5439  3199  3986.00  4738  1
3   14.03  14.16  0.8796  5438  3201  1717.00  5001  1
4   15.26  14.85  0.8696  5714  3242  4543.00  5314  1
5   14.38  14.21  0.8951  5386  3312  2462.00  4956  1
6   14.88  14.57  0.8811  5554  3333  1018.00  4956  1
7   14.29  14.09  0.9050  5291  3337  2699.00  4825  1
8   13.84  13.94  0.8955  5324  3379  2259.00  4805  1
9   16.63  15.46  0.8747  6053  3465     2.04  5877  1
10  16.44  15.25  0.8880  5884  3505  1969.00  5533  1
11  16.14  14.99  0.9034  5658  3562  1355.00  5175  1

In [59]:
dataset.to_csv('teste.csv', index= False) #exportando para csv, salvando ele sem índice

In [60]:
dataset.to_excel('teste.xlsx', sheet_name= "testando", index= False) #exportando para excel