<a href="https://colab.research.google.com/github/DanRelief/DanRelief/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação do Pandas

In [4]:
!pip install pandas==1.5.3
!pip install numpy==1.23.5

Collecting pandas==1.5.3
  Downloading pandas-1.5.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2025.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.17.0)
Downloading pandas-1.5.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 84.5 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 1.5.3 which is incompatible.
dask-expr 1.1.21 requires pandas>=2, but you have pandas 1.5.3 which is incompatible.
xarray 2025.3.1 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.
plotnine 0.14.5 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
cudf-cu12 25.2.1 requires pandas<2.2.4dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
mizani 0.13.5 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
dask-cudf-cu12 25.2.2 requires pandas<2.2.4dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
Successfully installed pandas-1.5.3
Collecting numpy==1.23.5
  Downloading numpy-1.23.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.3 kB)
Downloading numpy-1.23.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 37.0 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 1.5.3 which is incompatible.
dask-expr 1.1.21 requires pandas>=2, but you have pandas 1.5.3 which is incompatible.
xarray 2025.3.1 requires numpy>=1.24, but you have numpy 1.23.5 which is incompatible.
xarray 2025.3.1 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.
thinc 8.3.6 requires numpy<3.0.0,>=2.0.0, but you have numpy 1.23.5 which is incompatible.
plotnine 0.14.5 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
db-dtypes 1.4.3 requires numpy>=1.24.0, but you have numpy 1.23.5 which is incompatible.
cudf-cu12 25.2.1 requires pandas<2.2.4dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
jax 0.5.2 requires numpy>=1.25, but you have numpy 1.23.5 which is incompatible.
blosc2 3.4.0 requires numpy>=1.26, but you have numpy 1.23.5 which is incompatible.
bigframes 2.6.0 requires numpy>=1.24.0, but you have numpy 1.23.5 which is incompatible.
pymc 5.23.0 requires numpy>=1.25.0, but you have numpy 1.23.5 which is incompatible.
mizani 0.13.5 requires pandas>=2.2.0, but you have pandas 1.5.3 which is incompatible.
treescope 0.1.9 requires numpy>=1.25.2, but you have numpy 1.23.5 which is incompatible.
jaxlib 0.5.1 requires numpy>=1.25, but you have numpy 1.23.5 which is incompatible.
scikit-image 0.25.2 requires numpy>=1.24, but you have numpy 1.23.5 which is incompatible.
albumentations 2.0.8 requires numpy>=1.24.4, but you have numpy 1.23.5 which is incompatible.
xarray-einstats 0.9.0 requires numpy>=1.25, but you have numpy 1.23.5 which is incompatible.
chex 0.1.89 requires numpy>=1.24.1, but you have numpy 1.23.5 which is incompatible.
imbalanced-learn 0.13.0 requires numpy<3,>=1.24.3, but you have numpy 1.23.5 which is incompatible.
tensorflow 2.18.0 requires numpy<2.1.0,>=1.26.0, but you have numpy 1.23.5 which is incompatible.
dask-cudf-cu12 25.2.2 requires pandas<2.2.4dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
albucore 0.0.24 requires numpy>=1.24.4, but you have numpy 1.23.5 which is incompatible.
Successfully installed numpy-1.23.5

In [5]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

# Séries

- docs: https://drive.google.com/drive/folders/1gK4-GabfHK-EgjEeytTcSAna7TfotW0y

In [ ]:
serie_dados = pd.Series([10, 20, 30, 40, 50]) #cria uma série de dados
print(serie_dados) #o pandas mostra o índice e o dado armazenado naquela posição

In [ ]:
#criando indices personalizados
array_inteiros= [10,20,30,70,80]
indices = ['A','B','C','D','E']
serie_dados= pd.Series(array_inteiros, index=indices) #serie_dados recebe o array e o index recebe o valor de indices
print(serie_dados)

In [ ]:
serie_dados.size #mostra o tamanho

In [ ]:
serie_dados.ndim #mostra as dimensões

In [ ]:
serie_dados.shape #mostra o formato (linha x coluna dos dados, no caso só há 5 linhas e 1 coluna)

In [ ]:
np_array_inteiros= ([1,2,3,4,5]) #criando um arranjo usando o numpy
print(np_array_inteiros)

In [ ]:
serie_dados = pd.Series(array_inteiros) #transformando um dado numpy no formato pandas
print(serie_dados)

In [ ]:
serie_dados.index = ['Z','X','Y','F','G'] #mudando os valores do index
print(serie_dados)
serie_dados[:]= [100,120,150,160,170] #atualizando os dados da série
print(serie_dados)

### Criação de séries

In [ ]:
import numpy as np
#bloco vai gerar valores aleatórios
valores = np.random.random(10)
indexes= np.arange(0,10)

print(valores)
print(indexes)

In [ ]:
import pandas as pd
#mostrando o código acima só que em pandas
serie_dados = pd.Series(valores, indexes)
print(serie_dados)

In [ ]:
dicionario= {'joão': 10, 'daniel': 20, 'eliza': 30}

dicionario

In [ ]:
#fazendo um serie com esse dicionario
dict_serie_dados = pd.Series(dicionario)
print(dict_serie_dados)

## Fatiamento (slicing)

In [ ]:
serie_dados[:]

In [ ]:
serie_dados[0:3]
#repare que ele volta apenas do 0 ao 2

In [ ]:
#mostra o último valor da lista
serie_dados[-1:]

In [ ]:
#adicionando elementos a uma variável
S1= serie_dados[0:3]
S1

##Cópia, conversão e concatenação

In [ ]:
#fazendo uma cópia de dados
import pandas as pd
serie_dados = pd.Series([10, 20, 30, 40, 50])

serie_dados2= serie_dados.copy()
serie_dados2

In [ ]:
#convertendo valores de inteiro para float
serie_dados2.astype(float)

In [ ]:
#fazendo a concatenação
#criando o primeiro dicionario
dados_novos= {'Daniel': 10,'Rodrigo': 20}
serie_dados3= pd.Series(dados_novos)
serie_dados3

#criando o segundo dicionario
dict_dados= {'Rodolfo': 30, 'João': 50}
serie_dados4= pd.Series(dict_dados)
serie_dados4

#juntando os dois
serie_dados5= pd.concat([serie_dados3, serie_dados4])
serie_dados5

### Acessando dados com ILOC
- Acessar elementos pelo índice

In [ ]:
import pandas as pd
import numpy as np
#importando arquivos. Basta clicar na pasta ao lado e no ícone de upload
dataset= pd.read_csv('census.csv')
dataset

In [ ]:
#filtrando conteúdo da tabela
serie_idade= dataset['age']
serie_idade

In [ ]:
#mostrando apenas os primeiros 10 elementos
serie_idade.head(10)

In [ ]:
#utilizando iloc para retornar elementos pelo índice
serie_idade.iloc[3]

In [ ]:
#retornando o último elemento
serie_idade.iloc[-1]

In [ ]:
#intervalo de índices
serie_idade.iloc[0:5]

In [ ]:
#índices específicos
serie_idade.iloc[[0,2,4]]

In [ ]:
lista_idade= []
for i in serie_idade.items():
  #print(i[0], i[1]) onde i[0] são índicies e i[1] são elementos

  #se o elemento (idade) for maior que 50
  if i[1] > 50:
    lista_idade.append(i[0])

print(lista_idade)

In [ ]:
!pip install Faker #instala dados falsos

In [ ]:
from faker import Faker
fake = Faker()
fake.name()

In [ ]:
indices_nome = []
for _ in range(32561) :
  indices_nome.append(fake.name())

In [ ]:
type(indices_nome), len(indices_nome) #gerando uma lista

In [ ]:
indices_nome[0:10] #mostrando 10 nomes

In [ ]:
serie_idade_nome= pd.Series(np.array(dataset['age']), index = indices_nome)
serie_idade_nome

In [ ]:
serie_idade_nome["Stephanie Garcia"] #volta a respectiva idade

In [ ]:
serie_idade_nome2= serie_idade_nome.drop_duplicates() #apaga os nomes que são iguais
serie_idade_nome2.size
serie_idade_nome2

In [ ]:
serie_idade_nome2["Stephanie Garcia":"Louis Williams"] #mostrando nomes em um intervalo

In [ ]:
serie_idade_nome2.loc[["Aaron Hernandez","Hannah Perez"]] #agora só mostra essas duas pessoas

In [ ]:
serie_idade_nome3= serie_idade_nome2.copy() #copiando valores para outra variável
serie_idade_nome3

In [ ]:
serie_idade_nome3.reset_index(drop= True, inplace = True) #reseta os indices
serie_idade_nome3

In [ ]:
serie_idade_nome2.index #retorna apenas os nomes das pessoas

### Ordenação

In [ ]:
serie_idade_nome.sort_values() #serie será ordenada pelos valores

In [ ]:
serie_idade_nome.sort_values(ascending= False) #serie será ordenada pelos valores em ordem decrescente

In [ ]:
serie_idade_nome.sort_index(ascending = True) #será ordenado em ordem alfabética

In [ ]:
sr= serie_idade_nome.sort_values(ascending = False).iloc[0:11] #gerando um novo dataframe filtrando as pessoas de maior idade
sr

### Contagem

In [ ]:
serie_idade_nome.size

In [ ]:
serie_idade_nome.value_counts() #conta quantas pessoas tem a mesma idade. idade disposta na esquerda e quantidade de pessoas com essa idade na direita

In [ ]:
serie_idade_nome.value_counts(normalize= True)*100 #mostra as idades em porcentagem

In [ ]:
serie_idade_nome.value_counts(bins = 10) #dividindo em faixa etária

#### Filtros

In [ ]:
fake.country()

In [ ]:
indices_pais = []
for _ in range(32561) :
  indices_pais.append(fake.country())

In [ ]:
indices_pais[0:11] #indice dos países

In [ ]:
serie_país = pd.Series(np.array(dataset['age']), index = indices_pais)
serie_país #listando países com idades

In [ ]:
serie_país.loc[serie_país>50] #filtra os que estão acima de 50

In [ ]:
serie_país.loc[(serie_país>50) & (serie_país.index=="India")] #filtra os maiores de 50 e da India

In [ ]:
serie_país.index.isin(["India", "Brazil"]) #true quando é india ou brasil, false quando não é

### Operações Matemáticas

In [ ]:
serie_país +2 #adiciona 2 em cada valor

In [ ]:
serie_país.mul(2) #multiplica por 2

In [ ]:
s1= pd.Series([20,30,40])
s2= pd.Series([10,20,30])
s1, s2

In [ ]:
s1.add(s2) #soma os valores das séries

In [ ]:
s1.mul(s2) #multiplica os valores das séries

In [ ]:
s1.div(s2) #divide os valores das séries

#### Operações com strings

In [ ]:
serie_pais_index= serie_país.index.to_series() #passa os países como índice
serie_pais_index.reset_index(drop= True, inplace = True) #apagando os nomes dos países para que se tornem números
serie_pais_index

In [ ]:
serie_pais_index.str.contains("tse") #coloca como true quem tem essas letras no nome

In [ ]:
serie_pais_index.str.upper() #deixa todos os nomes em capslock

In [ ]:
serie_pais_index.str.lower() #deixa em minúsculo

In [ ]:
serie_pais_index.str.strip("Libyan") #remove um nome desejado

In [ ]:
serie_pais_index.str.split(' ', expand=True) #separando as palavras em colunas diferentes

In [ ]:
serie_pais_index.str[0:5] #retorna os primeiros 5 caracteres de cada palavra

In [ ]:
serie_país.sum() #realiza a somatória de todos os valores

In [ ]:
serie_país.mean() #realiza a media

In [ ]:
serie_país.median() #mediana

In [ ]:
serie_país.count() #qte de registros

In [ ]:
serie_país.std() #desvio padrão

In [ ]:
serie_país.var() #variancia

In [ ]:
serie_país.loc["Brazil"].mean() #extrai a média apenas do Brazil

In [ ]:
serie_país.quantile([0.25, 0.5, 0.75]) #mostra a quantidade dos valores que aparecem em 25%, 50% e 75% do total de dados

#### Agrupamento categórico

In [ ]:
serie_pais_index.value_counts() #retorna o valor por país

In [ ]:
serie_pais_index.value_counts(normalize = True)*100 #retorna o valor por país em porcentagem

In [ ]:
serie_pais_index.unique() #retorna o nome único dos países

In [ ]:
serie_pais_index.unique() #retorna o numero de países registrados

### Valores faltantes

In [ ]:
serie_faltante = pd.Series([1, 2, 3, np.nan, 5, np.nan]) #representa valor não existente

In [ ]:
serie_faltante.isna() #retorna se há valor faltante nas linhas (true representa faltante)

In [ ]:
serie_faltante.isna().sum() #soma a quantidade de valor faltante

In [ ]:
serie_faltante.value_counts(dropna = False) #conta os valores faltantes e mostra os resto dos numeros

In [ ]:
serie_faltante.fillna(0) #substitui os valores faltantes por 0

In [ ]:
serie_faltante.dropna() #linha de valores faltantes são apagadas

In [ ]:
serie_faltante.fillna(serie_faltante.mean()) #substitui os valores faltantes pela média

In [ ]:
serie_faltante = pd.Series("Mação", "Banana", "Arroz", "Arroz", np.nan, "Batata")
serie_faltante

In [ ]:
serie_faltante.isna().sum() #soma de valores faltantes

In [ ]:
serie_faltante.fillna("Não informado") #todos os valores faltantes são substituídos por "não informado"

In [ ]:
serie_faltante.mode().iloc[0] #retorna qual é a moda dos valores declarados, na posição 0

In [ ]:
serie_faltante.fillna(serie_faltante.mode().iloc[0]) #substitui os valores faltantes pela moda

### Funções

In [ ]:
serie_idade #retorna índices e idades

In [ ]:
serie_idade.loc[serie_idade<18] #retorna pessoas menores de 18 anos

In [ ]:
#transformando todas as idades menores de 18 em 18 anos, utilizando a função corrige_idade
def corrige_idade(idade):
  if idade < 18:
    idade = 18
    return idade

In [ ]:
serie_idade = serie_idade.apply(corrige_idade) #aplica a função em todos os elementos da série, não necessitando passar manualmente
serie_idade

In [ ]:
#outra maneira de utilizar uma função
serie_idade= serie_idade.apply(lambda idade: 17 if idade==18 else idade) #declarando uma função e já executando ela para todos os elementos. Nesse caso, transformando todos os elementos iguais a 18 em 17 anos

In [ ]:
serie_idade[serie_idade<18] #retorna apenas os menores de 18

In [ ]:
serie_idade2 = serie_idade.iloc[0:10] #recebe os primeiros 10 elementos
serie_idade2

In [ ]:
serie_idade2.where(serie_idade2 < 40, 0) #para todos os valores menores que 40, recebe 0

# Dataframe

um dataframe é um conjunto de várias séries.

In [5]:
import pandas as pd
import numpy as np

In [ ]:
data = [['Alice', 25, 'São Paulo'],
        ['João', 30, 'Rio de Janeiro'],
        ['Bruno', 35, 'Curitiba'],
        ['Carlos', 40, 'Manaus']]

In [ ]:
type(data) #tipo de dados

In [ ]:
colunas = ['Nome', 'idade', 'Cidade'] #separando por categorias

In [ ]:
df = pd.DataFrame(data, columns=colunas) #criando um dataframe utilizando listas
df

In [ ]:
#criando um dataframe a partir de um dicionário
data = {'Nome': ['Alice', 'João', 'Bruno', 'Carlos'],
         'Idade': [25, 30, 35, 40],
         'Cidade': ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus']}
data

In [ ]:
type(data)

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
#data frame criado a partir de um array
data = np.array ([['Alice', 25, 'São Paulo'],
        ['João', 30, 'Rio de Janeiro'],
        ['Bruno', 35, 'Curitiba'],
        ['Carlos', 40, 'Manaus']])
type(data)

In [ ]:
df = pd.DataFrame(data, columns=colunas)
df

In [ ]:
#dataframe com tuplas
data = [('Alice', 25, 'São Paulo'),
        ('João', 30, 'Rio de Janeiro'),
        ('Bruno', 35, 'Curitiba'),
        ('Carlos', 40, 'Manaus')]
type(data), type(data[0])

In [ ]:
df = pd.DataFrame(data, columns=colunas)
df

In [ ]:
#utilizando a estrutura de dicionários organizado em séries e transformando em dataframe
data= {'Nome': pd.Series (['Alice', 'João', 'Bruno', 'Carlos']),
         'Idade': pd.Series ([25, 30, 35, 40]),
         'Cidade': pd.Series (['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus'])}
data

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
#utilizando dicionário organizando em array
data = {'Nome': np.array(['Alice', 'João', 'Bruno', 'Carlos']),
        'Idade': np.array([25, 30, 35, 40]),
        'Cidade': np.array(['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Manaus'])}
data

In [ ]:
df = pd.DataFrame(data)
df

### Explorando dataframes

In [17]:
dataset= pd.read_csv('census.csv')
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
dataset.head() #analisar apenas os 5 primeiros registros

In [ ]:
dataset.tail() #analisar as últimas 5 linhas do registro

In [ ]:
dataset.shape #quantidade total de linhas e colunas

In [ ]:
dataset.size #multiplicação linha x coluna (32561 * 15)

In [ ]:
dataset.index #índices

In [ ]:
dataset.columns #colunas

In [ ]:
dataset.axes #análise eixos

In [ ]:
dataset.dtypes #volta o datatype de cada linha do registro

In [ ]:
dataset.info() #fornece a classe, os índices, o nome, o tipo, a quantiade de registros não nulos, etc.

In [ ]:
dataset.describe() #estatísticas sobre cada um dos atribustos numéricos

### Acesso com loc e iloc

In [ ]:
dataset["age"] #acessando uma parte específica do gráfico

In [ ]:
type(dataset["age"]) #demonstrando que dataframes são conjuntos de séries

In [ ]:
dataset.age.mean() #calculando a média da coluna age

In [ ]:
dataset.age.iloc[0:4] #retornar apenas as primeiras idades

In [ ]:
dataset[["age", "education"]] #acessando somente age e education

In [ ]:
dataset.iloc[0:4 ,0:4] #linhas(do 0 ao 4), colunas(do 0 ao 4)

In [ ]:
dataset.iloc[0:4, :] #acessando apenas as linhas do 0 ao 4.

In [ ]:
dataset.iloc[0:4,[0, 3, 5]] #acessando as primeiras 4 linhas, acessando essa colunas específicas

In [ ]:
dataset.iloc[:, 0:4] #acessando apenas as 4 primeiras colunas

In [ ]:
dataset.loc[:, "age"] #acessando todas as linhas, mostrando apenas a coluna age

In [ ]:
dataset.loc[:, ["age", "workclass", "education"]] #acessando todas as linhas, mostrando apenas as colunas explicitadas

In [ ]:
dataset.loc[0:5, "age":"occupation"] #acessando as primeiras 5 linhas, e as colunas do intervalo do age ao occupation

### Apagar linhas e colunas

In [ ]:
dataset.drop("education", axis = 1) #referenciando qual linha eu quero apagar
#quando axis = 0 (linhas), quando axis = 1 (colunas)

In [ ]:
dataset.drop("final-weight", axis =1, inplace= True) #apagando a coluna de forma definitiva da base de dados

In [ ]:
dataset.columns #repare que final-weight foi apagado, enquanto education só foi oculto visualmente

In [ ]:
dataset.drop([0], axis = 0) #apagando a primeira linha (deixando oculto)

In [ ]:
dataset.drop([0], axis= 0, inplace= True) #apagando a primeira linha de forma definitiva

In [ ]:
dataset.reset_index(drop= True, inplace = True) #resetando os índices (atualizando após ter apagado a linha)

### Linhas duplicadas na base de dados

In [ ]:
dataset.duplicated() #retorna se há linhas duplicadas

In [ ]:
dataset.duplicated().sum() #retorna a quantidade de linhas duplicadas

In [ ]:
dataset.iloc[[32557, 32558]]

In [ ]:
dataset.drop_duplicates() #apaga as linhas duplicadas (oculta)

In [ ]:
dataset.duplicated(subset= "age").sum() #somatórios dos valores de colunas duplicadas

In [ ]:
dataset.drop_duplicates(subset= "age", keep = "last", ignore_index = True) #apaga as colunas (idades duplicadas), mantendo o útlimo registro duplicado e reorganizando os índices

### Valores faltantes

In [ ]:
dataset.isna().sum() #os valores nulos está representados por '?'

In [ ]:
dataset.loc[dataset["workclass"].str.contains("\?")] #mostra

In [ ]:
colunas_categoricas = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']

for coluna in colunas_categoricas:
  #print(coluna)
  tem_interrogacao= dataset[coluna].str.contains("\?").any() #percorrendo todas as colunas
  if tem_interrogacao:
    print(f"na coluna ' {coluna} 'tem interrogacao '?' ")

In [ ]:
for coluna in colunas_categoricas:
  dataset[coluna] = dataset[coluna].replace(' ?', np.nan) #substituir toda interrogação por nan

In [ ]:
dataset.isna().sum() #retorna a quantidade de valores faltantes

In [ ]:
dataset.fillna("Não informado").iloc[0:30] #colocar 'não informado' no lugar de 0

In [ ]:
dataset["workclass"].mode() #retorna o valor mais frequente

In [ ]:
dataset["occupation"].mode() #retorna o valor mais frequente

In [ ]:
dataset["native-country"].mode() #retorna o valor mais frequente

In [ ]:
dataset["workclass"].fillna(dataset["workclass"].mode().iloc[0], inplace= True) #substutuindo valores

In [ ]:
dataset["occupation"].fillna(dataset["occupation"].mode().iloc[0], inplace= True)

In [ ]:
dataset["native-country"].fillna(dataset["native-country"].mode().iloc[0], inplace= True)

In [ ]:
dataset.isna().sum()

### Contagem de valores

In [ ]:
dataset.age.value_counts()

In [ ]:
dataset.workclass.value_counts(normalize= True, sort= False)*100

In [ ]:
for coluna in dataset.columns:
  #print(coluna, dataset[coluna].dtype)
  if dataset[coluna].dtype == object:
    print('--------', coluna, '--------')
    print(dataset[coluna].value_counts(normalize= True))
    print()

### Ordenação do dataframe

In [ ]:
dataset.sort_index(ascending= True) #ordenando pelo índice

In [ ]:
dataset.sort_values(["age", "workclass"], ascending= [False, True], inplace= True) #ordenando por colunas, com ascending declarando se vai ser crescente ou descrescente e o inplace definindo a alteração

In [ ]:
dataset.reset_index(drop= True, inplace= True) #resetando índice

### filtragem do dataset.loc

In [ ]:
dataset.loc[dataset.education == 'Bachelors', ["age", "workclass", "education-num"]] #colocando o filtro por linha

In [ ]:
dataset.loc[(dataset["education-num"]==6) & (dataset["marital-status"]== " never merried")] #filtrando education.num para 6. E o estado civil

In [1]:
dataset.query(" `education-num` ==6 and `marital-status` == ' never-merried' ") #dois filtros

NameError: name 'dataset' is not defined

In [ ]:
dataset.query("age > 35 and workclass == ' Private' ") #dois filtros

In [ ]:
dataset.query("age > 35 and workclass == ' Private' ").loc[:, "capital-gain"].sum() #retornando as linhas com o filtro nas colunas e somando todo o ganho de pessoas acima de 35 anos com workclass = private

### Renomear e reordenar

In [7]:
dataset.columns = [coluna.upper() for coluna in dataset.columns] #transformando as colunas em letras maiusculas
dataset.columns

Index(['AGE', 'WORKCLASS', 'FINAL-WEIGHT', 'EDUCATION', 'EDUCATION-NUM',
       'MARITAL-STATUS', 'OCCUPATION', 'RELATIONSHIP', 'RACE', 'SEX',
       'CAPITAL-GAIN', 'CAPITAL-LOOS', 'HOUR-PER-WEEK', 'NATIVE-COUNTRY',
       'INCOME'],
      dtype='object')

In [8]:
dataset.columns = [coluna.lower() for coluna in dataset.columns] #transformando as colunas em letras minúsculas
dataset.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
dataset.rename(columns= {"idade": "age", "trabalho": "workclass"}, inplace = True) #mudando o nome das colunas

In [12]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [18]:
dataset= dataset.reindex(labels= ['workclass', 'age', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'], axis = 1) #trocando a ordem das colunas age pelo workclass, colocando axis = 1 para mudar apenas as colunas e não as linhas

dataset

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,State-gov,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Self-emp-not-inc,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Private,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Private,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Private,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Private,27,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,Private,40,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,Private,58,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,Private,22,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,Self-emp-inc,52,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Criação de colunas

In [20]:
dataset["hour-per-month"]= dataset["hour-per-week"] * 4 #criando uma colunas que conta as horas trabalhadas por mês
dataset.head()

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month
0,State-gov,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,160
1,Self-emp-not-inc,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52
2,Private,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160
3,Private,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160
4,Private,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160

In [22]:
dataset["high-education-level"]= dataset["education-num"] > 11 #valida a educação. Se maior que 11, é verdadeiro, se menor é falso
dataset.head()

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level
0,State-gov,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,160,True
1,Self-emp-not-inc,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52,True
2,Private,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160,False
3,Private,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160,False
4,Private,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160,True

In [23]:
dicionario_map= {"<=50k": "low", ">50k": "high"} #dicionario que define caso a pessoa ganhe pouco (menos que 50k) e caso ela ganhe muito (mais que 50k)

In [27]:
dataset["category-income"]= dataset["income"].map(dicionario_map)
dataset

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income
0,State-gov,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,160,True,NaN
1,Self-emp-not-inc,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52,True,NaN
2,Private,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160,False,NaN
3,Private,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160,False,NaN
4,Private,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Private,27,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,152,True,NaN
32557,Private,40,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,160,False,NaN
32558,Private,58,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,160,False,NaN
32559,Private,22,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,80,False,NaN
32560,Self-emp-inc,52,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,160,False,NaN

In [29]:
dataset["capital-gain-usd"]= dataset["capital-gain"].map(lambda x: f"USD {x}") #aplicando uma formatação. Agora aparece USD ao lados dos valores
dataset.head()

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd
0,State-gov,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,160,True,NaN,USD 2174
1,Self-emp-not-inc,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,52,True,NaN,USD 0
2,Private,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,160,False,NaN,USD 0
3,Private,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,160,False,NaN,USD 0
4,Private,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,160,True,NaN,USD 0

In [31]:
from datetime import datetime #importando data e hora

In [32]:
datetime.now().year

2025

In [34]:
dataset= dataset.assign(birth= datetime.now().year - dataset["age"], hardwork= dataset["hour-per-week"] > 40) #descobrindo a idade que a pessoa nasceu com base no ano atual e classificando quem trabalha mais
dataset

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,...,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd,birth,hardwork
0,State-gov,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,40,United-States,<=50K,160,True,NaN,USD 2174,1986,False
1,Self-emp-not-inc,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,13,United-States,<=50K,52,True,NaN,USD 0,1975,False
2,Private,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,40,United-States,<=50K,160,False,NaN,USD 0,1987,False
3,Private,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,40,United-States,<=50K,160,False,NaN,USD 0,1972,False
4,Private,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,40,Cuba,<=50K,160,True,NaN,USD 0,1997,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Private,27,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,...,0,38,United-States,<=50K,152,True,NaN,USD 0,1998,False
32557,Private,40,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,0,40,United-States,>50K,160,False,NaN,USD 0,1985,False
32558,Private,58,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,...,0,40,United-States,<=50K,160,False,NaN,USD 0,1967,False
32559,Private,22,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,...,0,20,United-States,<=50K,80,False,NaN,USD 0,2003,False
32560,Self-emp-inc,52,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,0,40,United-States,>50K,160,False,NaN,USD 15024,1973,False

In [35]:
dataset.loc[dataset["hardwork"] == True] #filtro de pessoas que trabalham mais de 40 horas por semana

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,...,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd,birth,hardwork
7,Self-emp-not-inc,52,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,45,United-States,>50K,180,False,NaN,USD 0,1973,True
8,Private,31,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,...,0,50,United-States,>50K,200,True,NaN,USD 14084,1994,True
10,Private,37,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,...,0,80,United-States,>50K,320,False,NaN,USD 0,1988,True
13,Private,32,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,...,0,50,United-States,<=50K,200,True,NaN,USD 0,1993,True
15,Private,34,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,...,0,45,Mexico,<=50K,180,False,NaN,USD 0,1991,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,Private,38,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,...,0,45,United-States,>50K,180,True,NaN,USD 15020,1987,True
32543,Local-gov,45,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,...,0,48,United-States,<=50K,192,True,NaN,USD 0,1980,True
32548,Self-emp-not-inc,65,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,...,0,60,United-States,<=50K,240,True,NaN,USD 1086,1960,True
32550,Self-emp-not-inc,43,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,...,0,50,United-States,<=50K,200,False,NaN,USD 0,1982,True
32552,Private,43,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,...,0,45,United-States,<=50K,180,False,NaN,USD 0,1982,True

### Colunas categóricas

In [40]:
dataset.info() #obtendo colunas categóricas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   workclass             32561 non-null  object
 1   age                   32561 non-null  int64
 2   final-weight          32561 non-null  int64
 3   education             32561 non-null  object
 4   education-num         32561 non-null  int64
 5   marital-status        32561 non-null  object
 6   occupation            32561 non-null  object
 7   relationship          32561 non-null  object
 8   race                  32561 non-null  object
 9   sex                   32561 non-null  object
 10  capital-gain          32561 non-null  int64
 11  capital-loos          32561 non-null  int64
 12  hour-per-week         32561 non-null  int64
 13  native-country        32561 non-null  category
 14  income                32561 non-null  object
 15  hour-per-month        32561 non-null  int64
 16  high-education-level  32561 non-null  bool
 17  category-income       0 non-null      object
 18  capital-gain-usd      32561 non-null  object
 19  birth                 32561 non-null  int64
 20  hardwork              32561 non-null  bool
dtypes: bool(2), category(1), int64(8), object(10)
memory usage: 4.6+ MB

In [37]:
dataset["native-country"].unique() #retorna os países únicos nessa base de dados

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [39]:
dataset= dataset.astype({"native-country": "category"}) #alterando o tipo de variáveis, transformando os nomes em números para reduzir a memória.
dataset

,workclass,age,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,...,capital-loos,hour-per-week,native-country,income,hour-per-month,high-education-level,category-income,capital-gain-usd,birth,hardwork
0,State-gov,39,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,0,40,United-States,<=50K,160,True,NaN,USD 2174,1986,False
1,Self-emp-not-inc,50,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,13,United-States,<=50K,52,True,NaN,USD 0,1975,False
2,Private,38,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,40,United-States,<=50K,160,False,NaN,USD 0,1987,False
3,Private,53,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,40,United-States,<=50K,160,False,NaN,USD 0,1972,False
4,Private,28,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,40,Cuba,<=50K,160,True,NaN,USD 0,1997,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Private,27,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,...,0,38,United-States,<=50K,152,True,NaN,USD 0,1998,False
32557,Private,40,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,0,40,United-States,>50K,160,False,NaN,USD 0,1985,False
32558,Private,58,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,...,0,40,United-States,<=50K,160,False,NaN,USD 0,1967,False
32559,Private,22,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,...,0,20,United-States,<=50K,80,False,NaN,USD 0,2003,False
32560,Self-emp-inc,52,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,0,40,United-States,>50K,160,False,NaN,USD 15024,1973,False

### Agregação

In [41]:
dataset.loc[:, "hour-per-week"].sum()

1316684

In [42]:
dataset.loc[:, ["hour-per-week", "age"]].sum() #soma de horas trabalhadas e anos

hour-per-week    1316684
age              1256257
dtype: int64

In [ ]:
dataset.loc[:, "hour-per-week"].mean().round(2) #media de horas trabalhadas voltando só 2 unidades decimais

In [43]:
dataset.loc[:, ["hour-per-week", "age"]].std().round(2) #desvio padrão

hour-per-week    12.35
age              13.64
dtype: float64

In [ ]:
dataset.loc[:, ["hour-per-week", "age"]].min().round(2) #valores mínimos, a pessoa que menos trabalha e mais nova

In [ ]:
dataset.loc[:, ["hour-per-week", "age"]].max().round(2) #valores máximos, a pessoa que mais trabalha e mais velha

In [45]:
dataset.mean(numeric_only= True) #extração da média de todas as colunas numéricas

age                         38.581647
final-weight            189778.366512
education-num               10.080679
capital-gain              1077.648844
capital-loos                87.303830
hour-per-week               40.437456
hour-per-month             161.749823
high-education-level         0.280520
birth                     1986.418353
hardwork                     0.294248
dtype: float64