<a href="https://colab.research.google.com/github/DanRelief/DanRelief/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalação do Pandas

In [ ]:
!pip install pandas==1.5.3
!pip install numpy==1.23.5

Requirement already satisfied: pandas==1.5.3 in /usr/local/lib/python3.11/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (2025.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.11/dist-packages (from pandas==1.5.3) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.17.0)
Requirement already satisfied: numpy==1.23.5 in /usr/local/lib/python3.11/dist-packages (1.23.5)

In [ ]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.5.3
1.23.5

# Séries

- docs: https://drive.google.com/drive/folders/1gK4-GabfHK-EgjEeytTcSAna7TfotW0y

In [ ]:
serie_dados = pd.Series([10, 20, 30, 40, 50]) #cria uma série de dados
print(serie_dados) #o pandas mostra o índice e o dado armazenado naquela posição

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#criando indices personalizados
array_inteiros= [10,20,30,70,80]
indices = ['A','B','C','D','E']
serie_dados= pd.Series(array_inteiros, index=indices) #serie_dados recebe o array e o index recebe o valor de indices
print(serie_dados)

A    10
B    20
C    30
D    70
E    80
dtype: int64

In [ ]:
serie_dados.size #mostra o tamanho

5

In [ ]:
serie_dados.ndim #mostra as dimensões

1

In [ ]:
serie_dados.shape #mostra o formato (linha x coluna dos dados, no caso só há 5 linhas e 1 coluna)

(5,)

In [ ]:
np_array_inteiros= ([1,2,3,4,5]) #criando um arranjo usando o numpy
print(np_array_inteiros)

[1, 2, 3, 4, 5]

In [ ]:
serie_dados = pd.Series(array_inteiros) #transformando um dado numpy no formato pandas
print(serie_dados)

0    10
1    20
2    30
3    70
4    80
dtype: int64

In [ ]:
serie_dados.index = ['Z','X','Y','F','G'] #mudando os valores do index
print(serie_dados)
serie_dados[:]= [100,120,150,160,170] #atualizando os dados da série
print(serie_dados)

Z    10
X    20
Y    30
F    70
G    80
dtype: int64
Z    100
X    120
Y    150
F    160
G    170
dtype: int64

### Criação de séries

In [2]:
import numpy as np
#bloco vai gerar valores aleatórios
valores = np.random.random(10)
indexes= np.arange(0,10)

print(valores)
print(indexes)

[0.78663435 0.43638953 0.97893378 0.64756925 0.19095238 0.95116621
 0.42863232 0.84009655 0.68119762 0.54206319]
[0 1 2 3 4 5 6 7 8 9]

In [4]:
import pandas as pd
#mostrando o código acima só que em pandas
serie_dados = pd.Series(valores, indexes)
print(serie_dados)

0    0.786634
1    0.436390
2    0.978934
3    0.647569
4    0.190952
5    0.951166
6    0.428632
7    0.840097
8    0.681198
9    0.542063
dtype: float64

In [6]:
dicionario= {'joão': 10, 'daniel': 20, 'eliza': 30}

dicionario

{'joão': 10, 'daniel': 20, 'eliza': 30}

In [7]:
#fazendo um serie com esse dicionario
dict_serie_dados = pd.Series(dicionario)
print(dict_serie_dados)

joão      10
daniel    20
eliza     30
dtype: int64

## Fatiamento (slicing)

In [10]:
serie_dados[:]

0    0.786634
1    0.436390
2    0.978934
3    0.647569
4    0.190952
5    0.951166
6    0.428632
7    0.840097
8    0.681198
9    0.542063
dtype: float64

In [11]:
serie_dados[0:3]
#repare que ele volta apenas do 0 ao 2

0    0.786634
1    0.436390
2    0.978934
dtype: float64

In [12]:
#mostra o último valor da lista
serie_dados[-1:]

9    0.542063
dtype: float64

In [15]:
#adicionando elementos a uma variável
S1= serie_dados[0:3]
S1

0    0.786634
1    0.436390
2    0.978934
dtype: float64

##Cópia, conversão e concatenação